@import 'custom-variables';

body, html {
  margin: 0;
}

#canvas {
  max-width: 1200px;
  margin: 0 auto;
}

.wysiwg {
  display: block;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-family: var(--wysiwg-font-family, initial);

  .umb-block-grid__layout-item {
    display: flex;
    max-width: 1172px;

    h1, h2, h3 {
      margin: 0;
    }

    h1 {
      font-size: var(--wysiwg-headline-1-font-size, 32px);
      line-height: var(--wysiwg-headline-1-line-height, 1.2em);
    }

    h2 {
      font-size: var(--wysiwg-headline-2-font-size, 28px);
      line-height: var(--wysiwg-headline-2-line-height, 1.2em);
    }

    h3 {
      font-size: var(--wysiwg-headline-3-font-size, 24px);
      line-height: var(--wysiwg-headline-3-line-height, 1.2em);
    }

    p, figure {
      font-size: var(--wysiwg-font-size-16);
      line-height: var(--wysiwg-line-height-24);
    }

    figure {
      margin: 0;
      padding: 0;
      display: block;

      img {
        width: 100%;
        display: flex;
        height: auto;
      }
    }

    figcaption {
      font-style: var(--wysiwg-figcaption-font-style, italic);
    }

    .left, .right {
      display: flexbox;
    }

    .error {
      color: red;
      font-weight: bold;
      text-align: center;
    }

    .paragraph {
      font-size: var(--wysiwg-font-size-16);
      line-height: var(--wysiwg-line-height-24);

      h2 {
        font-size: var(--wysiwg-font-size-24, 24px);
        line-height: var(--wysiwg-line-height-28, 28px);
        margin: var(--wysiwg-headline-paragraph-2-margin, 0);
      }

      h3 {
        font-size: var(--wysiwg-font-size-16, 16px);
        line-height: var(--wysiwg-line-height-24, 24px);
        margin: var(--wysiwg-headline-paragraph-3-margin, 0);
      }

      p {
        font-size: var(--wysiwg-font-size-16, 16px);
        line-height: var(--wysiwg-line-height-24, 24px);
        margin: var(--wysiwg-p-paragraph-margin, 0);
        padding: var(--wysiwg-p-paragraph-padding, 0);
      }
    }
  }
}

.umb-block-grid__block--view {
  /* corresponds with :host */
}

.umb-block-grid__layout-item {
  padding: 0;
  margin: 0;

  &[data-content-element-type-alias="wysiwg65_paragraph"] {
    background-color: transparent;
  }
}
