<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cac55a86-ce95-4568-aa4a-1573bef947ea" Alias="Cropped Image - WYSIWG Picture and Crop Picker" Level="2">
  <Info>
    <Name>Cropped Image - WYSIWG Picture and Crop Picker</Name>
    <EditorAlias>Wysiwg.ImageAndCropPicker</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.ImageAndCropPicker</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "square",
      "width": 1200,
      "height": 1200
    },
    {
      "label": "Landscape",
      "alias": "landscape",
      "width": 1485,
      "height": 1050
    }
  ],
  "defaultCropAlias": "",
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "multiple": false,
  "validationLimit": {}
}]]></Config>
</DataType>