<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcf506be-1b36-47f5-acc0-fb231b9c375f" Alias="Customer - Block Grid Property Editor UI" Level="2">
  <Info>
    <Name>Customer - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layout",
      "key": "400ed428-c86b-48f7-a5a9-3d4796d56ca4"
    },
    {
      "name": "Content Elements",
      "key": "d7c51183-705b-43d6-a873-b5370b3724db"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "b4a130fb-c4fe-4596-9e21-cef75db362e3",
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "800996d4-db9d-4983-804f-fc426cd42740",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25"
            }
          ],
          "createLabel": "Left Column"
        },
        {
          "key": "9ab64b99-31e4-4874-a531-e529913f879c",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25"
            }
          ],
          "createLabel": "Right Column"
        }
      ],
      "groupKey": "400ed428-c86b-48f7-a5a9-3d4796d56ca4",
      "label": "",
      "settingsElementTypeKey": "e16451bf-3534-4c8a-8292-4afaa580d538",
      "editorSize": "small",
      "backgroundColor": "#3e86b961"
    },
    {
      "contentElementTypeKey": "703cf955-c2c2-42b6-8c48-50c82d6f41f9",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "400ed428-c86b-48f7-a5a9-3d4796d56ca4",
      "areas": [
        {
          "key": "867abdf3-8672-45d3-b18d-a19475d6cf83",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25"
            }
          ],
          "createLabel": "Left Column"
        },
        {
          "key": "fa22515d-c51c-47dd-99fe-298a1c5c31dc",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25"
            }
          ],
          "createLabel": "Right Column"
        }
      ],
      "backgroundColor": "#3e86b961",
      "columnSpanOptions": [],
      "settingsElementTypeKey": "e16451bf-3534-4c8a-8292-4afaa580d538",
      "editorSize": "small"
    },
    {
      "contentElementTypeKey": "fe5fe741-fc9a-4902-a935-abb7a95a54cf",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "400ed428-c86b-48f7-a5a9-3d4796d56ca4",
      "settingsElementTypeKey": "e16451bf-3534-4c8a-8292-4afaa580d538",
      "areas": [
        {
          "key": "a4fe2938-8733-417e-81ef-73f8a182fbd3",
          "alias": "all",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": "#3e86b961"
    },
    {
      "contentElementTypeKey": "1bb78a3d-9fd6-428e-949f-e44a7c7aed55",
      "allowAtRoot": false,
      "allowInAreas": true,
      "inlineEditing": false,
      "groupKey": "d7c51183-705b-43d6-a873-b5370b3724db",
      "iconColor": "#0088ff",
      "settingsElementTypeKey": "ef8ba6fa-46ef-4cd9-8770-bc2123a11b5d",
      "areas": []
    },
    {
      "contentElementTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25",
      "allowAtRoot": false,
      "allowInAreas": true,
      "editorSize": "medium",
      "inlineEditing": false,
      "groupKey": "d7c51183-705b-43d6-a873-b5370b3724db",
      "settingsElementTypeKey": "431164e1-20da-4285-b81a-c23ca53216f3"
    },
    {
      "contentElementTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "d7c51183-705b-43d6-a873-b5370b3724db",
      "settingsElementTypeKey": "cb970d1c-7cec-401f-8979-7b5583a9c509"
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/wysiwgblockgrid.min.css"
}]]></Config>
</DataType>