<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92214f7f-9ff6-42a0-bea1-7ba747e92e04" Alias="Data Type Picker" Level="1">
  <Info>
    <Name>Data Type Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>IDSeefeld.PropertyEditorUi.DataTypePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>