<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f163d73-b42a-4b55-ad79-a35270fe1fde" Alias="datatypepicker" Level="2">
  <Info>
    <Name>datatypepicker</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Idseefeld.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>