<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d362aba-c6dc-4b3d-a663-045147b4fb35" Alias="Dynamic Crops" Level="2">
  <Info>
    <Name>Dynamic Crops</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.CropsDropdown</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>