<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec302dff-ceed-4932-a1ca-6b47cc7c108e" Alias="Headline Sizes" Level="1">
  <Info>
    <Name>Headline Sizes</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "H1",
    "H2",
    "H3"
  ]
}]]></Config>
</DataType>