<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e59c378-e997-47eb-9b2b-791059e8a14a" Alias="Limited Text" Level="2">
  <Info>
    <Name>Limited Text</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 120
}]]></Config>
</DataType>