<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7e6c592-aa97-4e43-b3d4-dd57ad30df5e" Alias="Num10-200" Level="2">
  <Info>
    <Name>Num10-200</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 200,
  "min": 10,
  "step": 10
}]]></Config>
</DataType>