<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac7725cb-ca4f-45e2-a540-beb1831e84f7" Alias="Num900-1600" Level="2">
  <Info>
    <Name>Num900-1600</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 1600,
  "min": 900,
  "step": 100
}]]></Config>
</DataType>