<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf4670ae-a652-4e40-a9a5-7dcc879572e2" Alias="Page Settings - Umbraco Redirect - Content Picker Property Editor UI" Level="2">
  <Info>
    <Name>Page Settings - Umbraco Redirect - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>