<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f9f75ff-2bd9-4bf4-8abc-f72fadf44d9c" Alias="Picture with Crop - Picture with Crop" Level="2">
  <Info>
    <Name>Picture with Crop - Picture with Crop</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>Idseefeld.PorpertyEditorUi.PictureWithCrop</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>