<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8381df3-b28e-4bf7-b181-89cddced74b2" Alias="Picture with Crop - Thesaurus" Level="2">
  <Info>
    <Name>Picture with Crop - Thesaurus</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Idseefeld.PorpertyEditorUi.Thesaurus</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>