<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e70d0d2e-23fb-4458-96c9-688c0216a580" Alias="Root Page - Block List Demo - Block List Property Editor UI" Level="2">
  <Info>
    <Name>Root Page - Block List Demo - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a",
      "thumbnail": "/wwwroot/images/favicon.png",
      "forceHideContentEditorInOverlay": false
    }
  ]
}]]></Config>
</DataType>