<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9967b7db-2da5-4b8a-941d-a274fd5c923e" Alias="Root Page - Umbraco Redirect - Content Picker Property Editor UI" Level="2">
  <Info>
    <Name>Root Page - Umbraco Redirect - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>