<?xml version="1.0" encoding="utf-8"?>
<DataType Key="566e4865-ba28-4c45-9316-39d710dedc8f" Alias="Standard Page - featrues - Block List" Level="2">
  <Info>
    <Name>Standard Page - featrues - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a",
      "settingsElementTypeKey": "cb970d1c-7cec-401f-8979-7b5583a9c509",
      "forceHideContentEditorInOverlay": true
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>