<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44d4cd4b-1a0e-4594-ba13-fe84213960be" Alias="wysiwg65_LimitedHeadline" Level="2">
  <Info>
    <Name>wysiwg65_LimitedHeadline</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 120
}]]></Config>
</DataType>