<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2f04cf7-a3cf-4ea0-90af-1bb92e91f128" Alias="Wysiwg Block List" Level="2">
  <Info>
    <Name>Wysiwg Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "793d20b4-2f30-4920-84c3-557f5f85411f",
      "settingsElementTypeKey": "5a9ad4ea-4234-48b7-a0cc-b7dd81b67b19"
    },
    {
      "contentElementTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
      "settingsElementTypeKey": "b24a2af7-4ce7-4284-9895-23e881ced7d7"
    },
    {
      "contentElementTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8"
    }
  ]
}]]></Config>
</DataType>