<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a0f338a-dfbd-4d6b-9992-4a2913c191ac" Alias="wysiwg65_LimitedHeadline" Level="2">
  <Info>
    <Name>wysiwg65_LimitedHeadline</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 120
}]]></Config>
</DataType>