<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d9fb801-d0a6-47e5-b6fa-f16ead9ed9ad" Alias="wysiwg65_HeadlineSizes" Level="2">
  <Info>
    <Name>wysiwg65_HeadlineSizes</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h1",
    "h2",
    "h3"
  ]
}]]></Config>
</DataType>