<?xml version="1.0" encoding="utf-8"?>
<DataType Key="374fc7a8-13e8-4137-ac8c-0a22891dc85d" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "22fec0b8-e580-4d67-af6c-df646341534e"
    },
    {
      "name": "Deprecated",
      "key": "20620b5c-927a-4d6f-a414-2ea10c2a0598"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "793d20b4-2f30-4920-84c3-557f5f85411f",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "5a9ad4ea-4234-48b7-a0cc-b7dd81b67b19",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "b24a2af7-4ce7-4284-9895-23e881ced7d7",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "groupKey": "20620b5c-927a-4d6f-a414-2ea10c2a0598",
      "areas": []
    },
    {
      "contentElementTypeKey": "99dcf6a1-3b43-4fe9-a997-59eccce246c2",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "dfd0c542-1066-4ccc-9e61-6ec389826651",
      "groupKey": "22fec0b8-e580-4d67-af6c-df646341534e",
      "areas": [
        {
          "key": "2ec732e8-1597-4df0-a155-fedec16580aa",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "ddfc124e-a7cc-4860-bf1a-3e60faf50390",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "dfd0c542-1066-4ccc-9e61-6ec389826651",
      "groupKey": "22fec0b8-e580-4d67-af6c-df646341534e",
      "areas": [
        {
          "key": "d47861e4-e139-48e8-b2f3-7fc0ab5e90e8",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "09f87f13-c2cd-455c-978f-a7f34702c7b3",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "7cc64771-0f34-4845-a7d9-1e7a2528a512",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "dfd0c542-1066-4ccc-9e61-6ec389826651",
      "groupKey": "22fec0b8-e580-4d67-af6c-df646341534e",
      "areas": [
        {
          "key": "216a6253-145e-4dcd-b298-8e6081a2e77c",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "aff4f809-d580-4ba4-8103-5cb38e7c1f59",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "19a606ad-c88e-4919-944c-d89ebe832a6c",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "dfd0c542-1066-4ccc-9e61-6ec389826651",
      "groupKey": "22fec0b8-e580-4d67-af6c-df646341534e",
      "areas": [
        {
          "key": "4653a297-b5c4-489f-b60e-e8a008a25cae",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "55b96b80-fd58-4cf1-bae5-d9f42d6bde2b",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
              "minAllowed": 0
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/customBlockGrid.min.css",
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>