<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55085062-1784-45b8-a36e-afd325657c75" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "1c16a0b0-5d24-45f4-b291-d007a559a6ae"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "ff966de0-ad21-4e85-ab11-942a424fbde1",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "00890065-26da-4d50-962c-98e502edcd06"
    },
    {
      "contentElementTypeKey": "2012d6f4-f3b0-478f-bc5b-dd9cfbe52d0e",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "59dbbed1-3cf7-4ef9-926e-ecf9122694f8"
    },
    {
      "contentElementTypeKey": "c8285984-21a8-4312-a309-a4e960b4b323",
      "allowAtRoot": false,
      "allowInAreas": true,
      "editorSize": "large"
    },
    {
      "contentElementTypeKey": "70b44af5-7250-4c46-a2cc-f00898cb3c8e",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "1c16a0b0-5d24-45f4-b291-d007a559a6ae",
      "settingsElementTypeKey": "e2dbe9bc-b8e1-43fe-852d-ac2c27fc930c",
      "areas": [
        {
          "key": "6ade91d1-a69d-4071-912e-c27259af568f",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "ede40f47-c45d-4ce6-b7d0-631d46673d13",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "1c16a0b0-5d24-45f4-b291-d007a559a6ae",
      "settingsElementTypeKey": "e2dbe9bc-b8e1-43fe-852d-ac2c27fc930c",
      "areas": [
        {
          "key": "67a72be7-26a4-4ce2-a197-4e707a5e8d02",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "2012d6f4-f3b0-478f-bc5b-dd9cfbe52d0e"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c8285984-21a8-4312-a309-a4e960b4b323"
            }
          ]
        },
        {
          "key": "d4d04d0a-0de2-4820-befd-1aa478cc79ac",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "2012d6f4-f3b0-478f-bc5b-dd9cfbe52d0e"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c8285984-21a8-4312-a309-a4e960b4b323"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "d9db1547-afc2-41e0-ae45-e0cf08d8faa3",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "1c16a0b0-5d24-45f4-b291-d007a559a6ae",
      "settingsElementTypeKey": "e2dbe9bc-b8e1-43fe-852d-ac2c27fc930c",
      "areas": [
        {
          "key": "086849b4-a402-4b8a-99cf-f5af391208ae",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "2012d6f4-f3b0-478f-bc5b-dd9cfbe52d0e"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c8285984-21a8-4312-a309-a4e960b4b323"
            }
          ]
        },
        {
          "key": "98422edb-87fb-4c30-9db7-04add9b2ff43",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "2012d6f4-f3b0-478f-bc5b-dd9cfbe52d0e"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c8285984-21a8-4312-a309-a4e960b4b323"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "f03cc357-4ddf-4e66-8994-cfbbbcf11891",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "1c16a0b0-5d24-45f4-b291-d007a559a6ae",
      "settingsElementTypeKey": "e2dbe9bc-b8e1-43fe-852d-ac2c27fc930c",
      "areas": [
        {
          "key": "db6cdad1-6744-4399-a40b-afbd21d4b656",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "2012d6f4-f3b0-478f-bc5b-dd9cfbe52d0e"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c8285984-21a8-4312-a309-a4e960b4b323"
            }
          ]
        },
        {
          "key": "72695676-d468-40bc-8c7c-6b3b46b742f4",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "2012d6f4-f3b0-478f-bc5b-dd9cfbe52d0e"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "c8285984-21a8-4312-a309-a4e960b4b323"
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/customblockgrid.min.css",
  "maxPropertyWidth": "1200px"
}]]></Config>
</DataType>