<?xml version="1.0" encoding="utf-8"?>
<DataType Key="909a9444-084d-4390-9ab8-0d977c40d1b4" Alias="wysiwg65_CropDropdown" Level="2">
  <Info>
    <Name>wysiwg65_CropDropdown</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.CropsDropdown</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>