<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6960de4-479e-481b-9c05-c5d596d0c00e" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "50c6d1b6-85d0-492c-98c4-90723db7a4c9"
    },
    {
      "name": "Default",
      "key": "cc01505a-09a3-49f3-a8aa-e4285a84e1aa"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "3d435dcb-9172-44ce-9e87-e18e0be11f28",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "4a21c6c9-937e-4e8a-8c20-314ea8f87d32"
    },
    {
      "contentElementTypeKey": "601370d6-c5f9-4c64-933d-e600c03169ad",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "22473a2b-50dc-4d4d-85bb-1b31b2164060"
    },
    {
      "contentElementTypeKey": "eb0a9610-5d5f-4beb-bcea-26eddbcf8411",
      "allowAtRoot": false,
      "allowInAreas": true,
      "inlineEditing": false
    },
    {
      "contentElementTypeKey": "ba8d4b20-786a-48e6-8127-550a489300dc",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "50c6d1b6-85d0-492c-98c4-90723db7a4c9",
      "settingsElementTypeKey": "725d62eb-8c4b-47dd-a52b-e1c325d87026",
      "areas": [
        {
          "key": "8e6a44df-6082-46f2-8907-1f50ca0bede4",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "7ceea22d-f254-4076-916f-9322e5937066",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "50c6d1b6-85d0-492c-98c4-90723db7a4c9",
      "settingsElementTypeKey": "725d62eb-8c4b-47dd-a52b-e1c325d87026",
      "areas": [
        {
          "key": "0cda9730-f8fc-4df8-ac1b-80528e21e331",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "601370d6-c5f9-4c64-933d-e600c03169ad"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "eb0a9610-5d5f-4beb-bcea-26eddbcf8411"
            }
          ]
        },
        {
          "key": "e21eda96-e5fc-4e14-b38e-8de467ed7ac7",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "601370d6-c5f9-4c64-933d-e600c03169ad"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "eb0a9610-5d5f-4beb-bcea-26eddbcf8411"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "e6b9c21c-7917-45a3-b3d4-a8839e8ce3d1",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "50c6d1b6-85d0-492c-98c4-90723db7a4c9",
      "settingsElementTypeKey": "725d62eb-8c4b-47dd-a52b-e1c325d87026",
      "areas": [
        {
          "key": "f8422146-1389-46dd-a8c8-1f435c5d7e75",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "601370d6-c5f9-4c64-933d-e600c03169ad"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "eb0a9610-5d5f-4beb-bcea-26eddbcf8411"
            }
          ]
        },
        {
          "key": "1cb718fe-c95a-46c0-bf9c-2caf2814dd6f",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "601370d6-c5f9-4c64-933d-e600c03169ad"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "eb0a9610-5d5f-4beb-bcea-26eddbcf8411"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "954de8fa-8216-48aa-af35-1826bb020dd2",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "50c6d1b6-85d0-492c-98c4-90723db7a4c9",
      "settingsElementTypeKey": "725d62eb-8c4b-47dd-a52b-e1c325d87026",
      "areas": [
        {
          "key": "d7d27e82-61ae-428c-86f8-d0406d99ab3b",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "601370d6-c5f9-4c64-933d-e600c03169ad"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "eb0a9610-5d5f-4beb-bcea-26eddbcf8411"
            }
          ]
        },
        {
          "key": "6ac66384-a04b-4442-93e6-d10ada05bda9",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "601370d6-c5f9-4c64-933d-e600c03169ad"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "eb0a9610-5d5f-4beb-bcea-26eddbcf8411"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "0f19e124-2d28-4a54-84bf-4a8f8bef55da",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "cc01505a-09a3-49f3-a8aa-e4285a84e1aa",
      "inlineEditing": false,
      "hideContentEditor": false,
      "editorSize": "large"
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/customblockgrid.min.css",
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>