<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ef80c5d-54bf-4174-8ccc-395255437e9e" Alias="wysiwg65_ImageAndCropPicker" Level="2">
  <Info>
    <Name>wysiwg65_ImageAndCropPicker</Name>
    <EditorAlias>Wysiwg.ImageAndCropPicker</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.ImageAndCropPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "square",
      "width": 1200,
      "height": 1200,
      "defaultCrop": false
    },
    {
      "label": "Portrait",
      "alias": "portrait",
      "width": 800,
      "height": 1200,
      "defaultCrop": false
    },
    {
      "label": "Landscape",
      "alias": "landscape",
      "width": 1200,
      "height": 800,
      "defaultCrop": false
    },
    {
      "label": "Wide",
      "alias": "wide",
      "width": 1200,
      "height": 400,
      "defaultCrop": false
    }
  ],
  "enableLocalFocalPoint": false,
  "startNodeId": "adada772-55d8-474d-aff2-a33a2eed38ef"
}]]></Config>
</DataType>