<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e89651ad-8ec8-4b52-92f7-102742962c62" Alias="wysiwg65_ImageMediaPicker" Level="2">
  <Info>
    <Name>wysiwg65_ImageMediaPicker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "square",
      "width": 1200,
      "height": 1200
    },
    {
      "label": "Portrait",
      "alias": "portrait",
      "width": 800,
      "height": 1200
    },
    {
      "label": "Landscape",
      "alias": "landscape",
      "width": 1200,
      "height": 800
    }
  ],
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "multiple": false
}]]></Config>
</DataType>