<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ef80c5d-54bf-4174-8ccc-395255437e9e" Alias="wysiwg65_ImageAndCropPicker" Level="2">
  <Info>
    <Name>wysiwg65_ImageAndCropPicker</Name>
    <EditorAlias>Wysiwg.ImageAndCropPicker</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.ImageAndCropPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "1485x1485",
      "width": 1485,
      "height": 1485
    },
    {
      "label": "Portrait",
      "alias": "1050x1485",
      "width": 1050,
      "height": 1485
    },
    {
      "label": "Landscape",
      "alias": "1485x1050",
      "width": 1485,
      "height": 1050
    }
  ],
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "multiple": false
}]]></Config>
</DataType>