<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8c59fd6-d8fe-4090-a3d6-d814a64f3bf3" Alias="wysiwg65_HeadlineSizes" Level="2">
  <Info>
    <Name>wysiwg65_HeadlineSizes</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h1",
    "h2",
    "h3"
  ]
}]]></Config>
</DataType>