<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01d2d494-28fd-4b02-8077-ad884254e50d" Alias="wysiwg65_Rotation" Level="2">
  <Info>
    <Name>wysiwg65_Rotation</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 90,
  "maxValue": 90,
  "minVal": -90,
  "minValue": -90,
  "step": 5
}]]></Config>
</DataType>