<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c2b45cc-a8c6-48a3-babd-2da88257d57b" Alias="wysiwg65_CustomerColors" Level="2">
  <Info>
    <Name>wysiwg65_CustomerColors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "185ecd",
      "label": "Blue"
    },
    {
      "value": "e4c05e",
      "label": "Yellow"
    },
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "fff",
      "label": "Transparent"
    },
    {
      "value": "000",
      "label": "Black"
    },
    {
      "value": "5a2f0c",
      "label": "Brown"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>