<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d94ee8d5-b854-4021-80ef-3f8c786859a6" Alias="wysiwg65_CustomerColors" Level="2">
  <Info>
    <Name>wysiwg65_CustomerColors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "5c9aff",
      "label": "Blue"
    },
    {
      "value": "fee648",
      "label": "Yellow"
    },
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "fff",
      "label": "Transparent"
    },
    {
      "value": "000",
      "label": "Black"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>