<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c0d5b67-d937-42cb-b457-4ff04992575c" Alias="wysiwg65_ImageMediaPicker" Level="2">
  <Info>
    <Name>wysiwg65_ImageMediaPicker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.ImageAndCropPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Crop44",
      "alias": "crop44",
      "width": 1200,
      "height": 1200
    },
    {
      "label": "Crop34",
      "alias": "crop34",
      "width": 800,
      "height": 1200
    },
    {
      "label": "Crop43",
      "alias": "crop43",
      "width": 1200,
      "height": 800
    }
  ],
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>