<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fe2b6ba-6789-491c-8f7e-f221251350d9" Alias="wysiwg65_CropNames" Level="2">
  <Info>
    <Name>wysiwg65_CropNames</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Square",
    "Landscape",
    "Portrait",
    "Original [none]"
  ]
}]]></Config>
</DataType>