<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab691525-d5b2-4a07-a576-9ebf188b6160" Alias="wysiwg65_CropNames" Level="2">
  <Info>
    <Name>wysiwg65_CropNames</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Square",
    "Landscape",
    "Portrait",
    "Original [none]"
  ]
}]]></Config>
</DataType>