<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ImageCropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "square",
      "width": 1200,
      "height": 1200
    },
    {
      "label": "Wide",
      "alias": "wide",
      "width": 1200,
      "height": 300
    },
    {
      "label": "Landscape",
      "alias": "landscape",
      "width": 1200,
      "height": 800
    },
    {
      "label": "portrait",
      "alias": "portrait",
      "width": 800,
      "height": 1200
    }
  ]
}]]></Config>
</DataType>