<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1dd9639-2aa0-4751-88af-db735c688066" Alias="wysiwg65_CallToActionOnClick" Level="2">
  <Info>
    <Name>wysiwg65_CallToActionOnClick</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "allowCultureSpecificDocumentLinks": false,
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": ""
}]]></Config>
</DataType>