<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04e9376f-71d9-4570-8ee2-a48f3c7566d8" Alias="wysiwg65_CallToActionLabel" Level="2">
  <Info>
    <Name>wysiwg65_CallToActionLabel</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 80
}]]></Config>
</DataType>