<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6291a764-ad67-4091-9758-be17220832d7" Alias="wysiwg65_CustomerColors" Level="2">
  <Info>
    <Name>wysiwg65_CustomerColors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "d60000",
      "label": ""
    },
    {
      "value": "029400",
      "label": ""
    },
    {
      "value": "5c9aff",
      "label": ""
    },
    {
      "value": "fee648",
      "label": ""
    },
    {
      "value": "ffffff",
      "label": ""
    },
    {
      "value": "000",
      "label": ""
    },
    {
      "value": "fefefe",
      "label": ""
    }
  ],
  "useLabel": false
}]]></Config>
</DataType>