<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2434e606-78ea-4f2b-98ef-4821e601ed05" Alias="wysiwg65_CallToActionLabel" Level="2">
  <Info>
    <Name>wysiwg65_CallToActionLabel</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 80
}]]></Config>
</DataType>