<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2456f659-ba88-4c77-974d-e512d4b17b91" Alias="wysiwg65_LimitedHeadline" Level="2">
  <Info>
    <Name>wysiwg65_LimitedHeadline</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "autocomplete": [
    "off"
  ],
  "inputType": "text",
  "maxChars": 120
}]]></Config>
</DataType>