<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9fab9da-d674-494a-8025-42cd39d43de4" Alias="wysiwg65_ComponentPicker" Level="2">
  <Info>
    <Name>wysiwg65_ComponentPicker</Name>
    <EditorAlias>Wysiwg.ComponentPicker</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.ComponentPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>