<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b864e734-9b5a-41ea-a982-b510f12ca5f9" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "21acc243-c23b-4f04-9197-dc282ec1699c"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "1704103a-ba9a-4766-8a62-d9e17d3eb55f",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "0dfc3eca-4e89-4c24-aeb9-ed9b34a1d868",
      "inlineEditing": false,
      "editorSize": "small"
    },
    {
      "contentElementTypeKey": "68b03e66-79fa-443f-a51b-fe4517cd45ba",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "d78c66f5-57a2-4c72-8634-034bba6a492c"
    },
    {
      "contentElementTypeKey": "7cdda9ca-bc1f-4f3c-9ece-48f60770601d",
      "allowAtRoot": false,
      "allowInAreas": true,
      "inlineEditing": true,
      "hideContentEditor": false,
      "editorSize": ""
    },
    {
      "contentElementTypeKey": "dcf976a5-63ea-4abc-ae78-a7af6c1e43ef",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "afa7454a-1753-4555-af8a-d7be4f20e471"
    },
    {
      "contentElementTypeKey": "eaf87933-5b28-4811-9023-8b5eb004d3f7",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8359285b-870e-4dd8-a473-5a34a9a42f59",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "21acc243-c23b-4f04-9197-dc282ec1699c",
      "settingsElementTypeKey": "f0346e59-0551-4f8a-80be-af06d21d8d9d",
      "areas": [
        {
          "key": "dd7a9754-c608-409b-938a-9d160997c2a9",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "8094c2da-3349-4ccb-ad34-9a5f1940e692",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "21acc243-c23b-4f04-9197-dc282ec1699c",
      "settingsElementTypeKey": "f0346e59-0551-4f8a-80be-af06d21d8d9d",
      "areas": [
        {
          "key": "b9fabec3-0059-46bf-81f3-99daea4eaca1",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "68b03e66-79fa-443f-a51b-fe4517cd45ba"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "7cdda9ca-bc1f-4f3c-9ece-48f60770601d"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "dcf976a5-63ea-4abc-ae78-a7af6c1e43ef"
            }
          ]
        },
        {
          "key": "8df27416-4370-4a27-a889-3afacd73b429",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "68b03e66-79fa-443f-a51b-fe4517cd45ba"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "7cdda9ca-bc1f-4f3c-9ece-48f60770601d"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "dcf976a5-63ea-4abc-ae78-a7af6c1e43ef"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "deb26b8b-3946-4afc-9f25-d6839e091d93",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "21acc243-c23b-4f04-9197-dc282ec1699c",
      "settingsElementTypeKey": "f0346e59-0551-4f8a-80be-af06d21d8d9d",
      "areas": [
        {
          "key": "31965d8e-1682-44c2-aec2-46645c83b5ce",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "68b03e66-79fa-443f-a51b-fe4517cd45ba"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "7cdda9ca-bc1f-4f3c-9ece-48f60770601d"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "dcf976a5-63ea-4abc-ae78-a7af6c1e43ef"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "eaf87933-5b28-4811-9023-8b5eb004d3f7"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "91b41a10-f96a-4930-80fc-b55b08b38f3d"
            }
          ]
        },
        {
          "key": "50f359cc-c1c9-409e-a4e9-93a624d53182",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "68b03e66-79fa-443f-a51b-fe4517cd45ba"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "7cdda9ca-bc1f-4f3c-9ece-48f60770601d"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "dcf976a5-63ea-4abc-ae78-a7af6c1e43ef"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "eaf87933-5b28-4811-9023-8b5eb004d3f7"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "91b41a10-f96a-4930-80fc-b55b08b38f3d"
            }
          ]
        }
      ],
      "hideContentEditor": false
    },
    {
      "contentElementTypeKey": "52ebacf8-035c-4907-b5de-afd0a747330e",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "21acc243-c23b-4f04-9197-dc282ec1699c",
      "settingsElementTypeKey": "f0346e59-0551-4f8a-80be-af06d21d8d9d",
      "areas": [
        {
          "key": "50cdd370-e048-4d4b-93d2-55e9ea20ea7a",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "68b03e66-79fa-443f-a51b-fe4517cd45ba"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "7cdda9ca-bc1f-4f3c-9ece-48f60770601d"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "dcf976a5-63ea-4abc-ae78-a7af6c1e43ef"
            }
          ]
        },
        {
          "key": "4cf04d3f-1c87-480a-84a0-1638ba0571a7",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "68b03e66-79fa-443f-a51b-fe4517cd45ba"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "7cdda9ca-bc1f-4f3c-9ece-48f60770601d"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "dcf976a5-63ea-4abc-ae78-a7af6c1e43ef"
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/wysiwyg-blockgrid.min.css",
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>