<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c222697e-eaab-4c4b-9238-45558ae6fd90" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "7aefed4e-fde5-42af-977c-ee7c341abcb3"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "8d011bf0-2864-4ad7-84ab-a457fd7d971e",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "3201d5c7-8508-4888-b9d9-d3121f33c72a",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "f355b84f-9493-42d0-9548-be21a9e10b16",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "d234f9d5-67c2-474c-8e26-1d8db4d8e615",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "5e168a74-b6b0-4094-902c-1f625659cf0d",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "62354e12-811d-4a1a-a244-381de4e1d3cc",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "89bb2397-1aac-417f-9e1c-7f3ac0884999",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "24a0c8dd-9368-43ec-a6f1-1eb1ac45775e",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "ed578766-7b6a-4e76-b31c-7121594c11cc",
      "groupKey": "7aefed4e-fde5-42af-977c-ee7c341abcb3",
      "areas": [
        {
          "key": "1a7bd4a4-6ffa-49a2-ad14-a29718a71701",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "97cbe9e1-a0df-4db8-b4ba-676ef982d33d",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "ed578766-7b6a-4e76-b31c-7121594c11cc",
      "groupKey": "7aefed4e-fde5-42af-977c-ee7c341abcb3",
      "areas": [
        {
          "key": "14102b8b-d700-480a-9cd6-e308319f51a9",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d234f9d5-67c2-474c-8e26-1d8db4d8e615",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "5e168a74-b6b0-4094-902c-1f625659cf0d",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "89bb2397-1aac-417f-9e1c-7f3ac0884999",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "e00f98ef-b1a2-46eb-b5fb-759273df7379",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d234f9d5-67c2-474c-8e26-1d8db4d8e615",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "5e168a74-b6b0-4094-902c-1f625659cf0d",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "89bb2397-1aac-417f-9e1c-7f3ac0884999",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "14d3798d-c5b7-4aa3-befe-9f702fbdea8f",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "ed578766-7b6a-4e76-b31c-7121594c11cc",
      "groupKey": "7aefed4e-fde5-42af-977c-ee7c341abcb3",
      "areas": [
        {
          "key": "3b61adc5-1a7a-4cf4-b5b4-9851f243bddc",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d234f9d5-67c2-474c-8e26-1d8db4d8e615",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "5e168a74-b6b0-4094-902c-1f625659cf0d",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "89bb2397-1aac-417f-9e1c-7f3ac0884999",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "2e5ebaf6-66ad-4c07-a3f4-5cff32a5a253",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d234f9d5-67c2-474c-8e26-1d8db4d8e615",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "5e168a74-b6b0-4094-902c-1f625659cf0d",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "89bb2397-1aac-417f-9e1c-7f3ac0884999",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "f2a244a2-a12d-44f7-beb8-9fdc9b1310a1",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "ed578766-7b6a-4e76-b31c-7121594c11cc",
      "groupKey": "7aefed4e-fde5-42af-977c-ee7c341abcb3",
      "areas": [
        {
          "key": "c59d146b-88dd-4323-ae60-faa5d91530d3",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d234f9d5-67c2-474c-8e26-1d8db4d8e615",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "5e168a74-b6b0-4094-902c-1f625659cf0d",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "89bb2397-1aac-417f-9e1c-7f3ac0884999",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "276e6570-f4fb-4aad-890d-98adff1572eb",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d234f9d5-67c2-474c-8e26-1d8db4d8e615",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "5e168a74-b6b0-4094-902c-1f625659cf0d",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "89bb2397-1aac-417f-9e1c-7f3ac0884999",
              "minAllowed": 0
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/wysiwyg-blockgrid.min.css",
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>