<?xml version="1.0" encoding="utf-8"?>
<DataType Key="007787c2-a74d-4b97-b848-76a373d7e184" Alias="wysiwg65_ComponentPicker" Level="2">
  <Info>
    <Name>wysiwg65_ComponentPicker</Name>
    <EditorAlias>Wysiwg.ComponentPicker</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.ComponentPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>