<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5618bea9-fa8a-4146-8db7-113d9057898f" Alias="wysiwg65_LayerLevel" Level="2">
  <Info>
    <Name>wysiwg65_LayerLevel</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 10
}]]></Config>
</DataType>