<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4277fb9-66f9-41d1-870e-2c0cddc1f320" Alias="wysiwg65_ComponentPicker" Level="2">
  <Info>
    <Name>wysiwg65_ComponentPicker</Name>
    <EditorAlias>Wysiwg.ComponentPicker</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.ComponentPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>