<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a403a65b-1fba-4ff7-9758-6cf7c3e90214" Alias="wysiwg65_ImageAndCropPicker" Level="2">
  <Info>
    <Name>wysiwg65_ImageAndCropPicker</Name>
    <EditorAlias>Wysiwg.ImageAndCropPicker</EditorAlias>
    <EditorUIAlias>wysiwg.PropertyEditorUi.ImageAndCropPicker</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "1200x1200",
      "width": 1200,
      "height": 1200
    },
    {
      "label": "Portrait",
      "alias": "800x1200",
      "width": 800,
      "height": 1200
    },
    {
      "label": "Landscape",
      "alias": "1200x800",
      "width": 1200,
      "height": 800
    }
  ],
  "enableLocalFocalPoint": true
}]]></Config>
</DataType>