<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33fc6646-6f0f-434d-adb4-8171701c3c58" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "43cba46e-d893-453c-a5c6-08fc6eca9043"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "1474e1db-b17f-492f-9e6a-e0d3f3a58dda",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "67b3e0a6-c260-43db-8dfb-75ca20d53ce4",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "53f6a792-3853-46e6-8a8a-4e2ddd4826a5",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "cbd5ee4a-087a-4991-abd1-a4b9184c16f3",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "d8415ffc-8c5a-4521-a9e6-822dbfd0aa08",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "547bbafe-3e74-41a6-9780-b4c522438003",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "e6d05dce-17be-4e14-b785-e2fcf38dc1b7",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "2c5f92af-b90c-4453-99f7-b8dcc1a55c49",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "63fb7019-7352-4712-b98a-13df17137bae",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "f9d5ea39-aa60-4bac-861b-10bc0d601aea",
      "groupKey": "43cba46e-d893-453c-a5c6-08fc6eca9043",
      "areas": [
        {
          "key": "0c36440e-37df-4eb0-8a32-e294105ddc64",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "0468f6bd-5906-4e5c-b86d-fa3b091e2c78",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "f9d5ea39-aa60-4bac-861b-10bc0d601aea",
      "groupKey": "43cba46e-d893-453c-a5c6-08fc6eca9043",
      "areas": [
        {
          "key": "eefdf6db-51de-413f-a922-387afbfd85ea",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "53f6a792-3853-46e6-8a8a-4e2ddd4826a5",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d8415ffc-8c5a-4521-a9e6-822dbfd0aa08",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "547bbafe-3e74-41a6-9780-b4c522438003",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "2c5f92af-b90c-4453-99f7-b8dcc1a55c49",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "5bfc5fa4-bf57-4644-8b74-eaf54d13a816",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "53f6a792-3853-46e6-8a8a-4e2ddd4826a5",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d8415ffc-8c5a-4521-a9e6-822dbfd0aa08",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "547bbafe-3e74-41a6-9780-b4c522438003",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "2c5f92af-b90c-4453-99f7-b8dcc1a55c49",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "8955abaf-d099-48c9-8b7c-d1a52790327c",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "f9d5ea39-aa60-4bac-861b-10bc0d601aea",
      "groupKey": "43cba46e-d893-453c-a5c6-08fc6eca9043",
      "areas": [
        {
          "key": "ca920139-e49d-4f7b-a3b4-3c2f1ce28fc4",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "53f6a792-3853-46e6-8a8a-4e2ddd4826a5",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d8415ffc-8c5a-4521-a9e6-822dbfd0aa08",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "547bbafe-3e74-41a6-9780-b4c522438003",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "2c5f92af-b90c-4453-99f7-b8dcc1a55c49",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "f64a5c73-f539-427c-9454-50e6de5236c8",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "53f6a792-3853-46e6-8a8a-4e2ddd4826a5",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d8415ffc-8c5a-4521-a9e6-822dbfd0aa08",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "547bbafe-3e74-41a6-9780-b4c522438003",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "2c5f92af-b90c-4453-99f7-b8dcc1a55c49",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "37aa719d-fcab-4938-b79b-da9d82c4f6d1",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "f9d5ea39-aa60-4bac-861b-10bc0d601aea",
      "groupKey": "43cba46e-d893-453c-a5c6-08fc6eca9043",
      "areas": [
        {
          "key": "97db12cf-15a8-4bcb-9291-b17462baf6c8",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "53f6a792-3853-46e6-8a8a-4e2ddd4826a5",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d8415ffc-8c5a-4521-a9e6-822dbfd0aa08",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "547bbafe-3e74-41a6-9780-b4c522438003",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "2c5f92af-b90c-4453-99f7-b8dcc1a55c49",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "4088aa4c-d8fb-4162-8db9-5ebe652871d6",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "53f6a792-3853-46e6-8a8a-4e2ddd4826a5",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "d8415ffc-8c5a-4521-a9e6-822dbfd0aa08",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "547bbafe-3e74-41a6-9780-b4c522438003",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "2c5f92af-b90c-4453-99f7-b8dcc1a55c49",
              "minAllowed": 0
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/wysiwyg-blockgrid.min.css",
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>