<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34edd9de-44ea-4db7-84ef-e93c8e16c6c1" Alias="wysiwg65_CallToActionLabel" Level="2">
  <Info>
    <Name>wysiwg65_CallToActionLabel</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 80
}]]></Config>
</DataType>