<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8852a92-129f-489b-8106-b843ed2c65a6" Alias="Layout 5" Level="2">
  <Info>
    <Parent Key="81519fdd-1bf3-4b84-98cf-d4c608423313">wysiwg</Parent>
    <Path>/wysiwg/Layout5</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-06-03T17:20:20</CreateDate>
    <NodeName Default="Layout 5" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mfbh20fy/layout-5.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>