<?xml version="1.0" encoding="utf-8"?>
<Media Key="94c14eec-4559-4053-a10b-225d5db2a593" Alias="linkedin-01.jpg" Level="2">
  <Info>
    <Parent Key="81519fdd-1bf3-4b84-98cf-d4c608423313">wysiwg</Parent>
    <Path>/wysiwg/linkedin01jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-12T21:09:26</CreateDate>
    <NodeName Default="linkedin-01.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mocioirq/linkedin-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>