<?xml version="1.0" encoding="utf-8"?>
<Media Key="81519fdd-1bf3-4b84-98cf-d4c608423313" Alias="wysiwg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wysiwg</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-09T20:18:34</CreateDate>
    <NodeName Default="wysiwg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>