<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe5fe741-fc9a-4902-a935-abb7a95a54cf" Alias="layout20" Level="3">
  <Info>
    <Name>Full Row</Name>
    <Icon>icon-fullscreen color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The last supported layout alias (layout20)</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Elements/Layouts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>