<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef3e5eba-5f0c-4598-8a12-032a6394e549" Alias="rootPage" Level="2">
  <Info>
    <Name>Root Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="90b38f56-c9be-4d6f-9756-55ff48779095">metaSeo</Composition>
      <Composition Key="8f188ec1-422e-48af-a831-c330962e9912">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>root</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8416f90f-7741-4b94-947e-460860ee259a">root</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aad39c47-d9ec-4b63-b509-24bcff7e2d3f" SortOrder="0">standardPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6ce61a98-fb7e-4087-ab05-fcebe3598fbe</Key>
      <Name>Another Property</Name>
      <Alias>anotherProperty</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61de453d-ea32-4217-82e5-ad8b9bbbe390</Key>
      <Name>Main</Name>
      <Alias>main</Alias>
      <Definition>a15431ee-4f65-4098-b2fb-f96230ef22ad</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a9d880ab-39c4-4c19-aff1-1f3a10e797ba</Key>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteSettings">Site Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>071a85b9-d4db-4d3b-8fa0-334973a94b0e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>8d0416fd-afce-4e81-972f-95edae70ea75</Key>
      <Caption>Site Settings</Caption>
      <Alias>siteSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>