<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aad39c47-d9ec-4b63-b509-24bcff7e2d3f" Alias="standardPage" Level="2">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="90b38f56-c9be-4d6f-9756-55ff48779095">metaSeo</Composition>
      <Composition Key="8f188ec1-422e-48af-a831-c330962e9912">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>standardPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="75ea115b-ee95-4500-b18b-ffaf091ab842">standardPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aad39c47-d9ec-4b63-b509-24bcff7e2d3f" SortOrder="0">standardPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>80611bf4-1e38-40e1-b2db-9f4e8bb5f23d</Key>
      <Name>Main</Name>
      <Alias>main</Alias>
      <Definition>374fc7a8-13e8-4137-ac8c-0a22891dc85d</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>823cbfed-7380-4189-b6e1-51590a18fee0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>