<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="62b295f1-55a8-4271-8ab7-60c28b19d281" Alias="dataConsentLabel" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Zustimmung zur Datenspeicherung *</Translation>
    <Translation Language="en-US">Consent for storing submitted data *</Translation>
  </Translations>
</Dictionary>