<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="03c392ed-6573-4e95-8fd4-12067fbd4e07" Alias="dataConsentCheckboxLabel" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Ja, ich stimme zu, dass meine Daten gespeichert und verarbeitet werden.</Translation>
    <Translation Language="en-US">Yes, I give permission to store and process my data.</Translation>
  </Translations>
</Dictionary>