<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c85f941b-f0eb-461d-b165-90876f0ea09b" Alias="emailLabel" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">E-Mail</Translation>
    <Translation Language="en-US">E-mail</Translation>
  </Translations>
</Dictionary>