<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cf7543df-491f-4cfa-9c06-8dbc017c332d" Alias="InvalidErrorMessage.email" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Die E-Mail ist ungültig.</Translation>
  </Translations>
</Dictionary>