<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="99b6fa28-3c70-464a-ae27-6791df4986aa" Alias="messageLabel" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Nachricht</Translation>
    <Translation Language="en-US">Message</Translation>
  </Translations>
</Dictionary>