<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0fab947c-0091-4012-9546-e4dfa607073e" Alias="requiredErrorMessage" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Bitte füllen Sie das Feld "{0}" aus.</Translation>
  </Translations>
</Dictionary>