<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="53230de8-00e5-4c86-a75a-0fd9ea96d3e7" Alias="subjectLabel" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Betreff</Translation>
    <Translation Language="en-US">Subject</Translation>
  </Translations>
</Dictionary>