<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a1d4cab-bc1d-4102-9244-48ece8388d45" Alias="submitLabel" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Senden</Translation>
    <Translation Language="en-US">Submit</Translation>
  </Translations>
</Dictionary>