<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f3a7b0f4-0912-4a44-b0fb-6603a9497bda" Alias="wysiwg65 Selected a ViewComponent" Level="1">
  <Info>
    <Parent>wysiwg65</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Wähle eine Komponente</Translation>
    <Translation Language="en-US">Selected a Component</Translation>
  </Translations>
</Dictionary>