<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9fb83ad-782b-44ef-9d12-e788c8093b71" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "660a7b83-3b47-44cb-8837-7f9771f33297"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "ad600ef9-8638-40ed-a776-4569e0ef6476",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "0c4c0fbf-bb7b-4f31-a371-501fb2914d4e",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "c5558a48-b8c2-447f-85ec-eb8f8dcb9bed",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "86062fc2-2675-4ece-9de0-f57e127929c3",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "99d1ac38-91ab-4be2-86c5-329cc4b16c59",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "30b20471-924b-4a10-9fbe-5eca8f0e5306",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "888787de-ca89-43eb-9be6-63fc2b5a9078",
      "groupKey": "660a7b83-3b47-44cb-8837-7f9771f33297",
      "areas": [
        {
          "key": "31245dc7-4726-49e3-9422-cc0657fcd00b",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "dd9b23d1-f6bc-48f1-94dd-8a66998ed8db",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "888787de-ca89-43eb-9be6-63fc2b5a9078",
      "groupKey": "660a7b83-3b47-44cb-8837-7f9771f33297",
      "areas": [
        {
          "key": "a6d5412b-c7d1-4e17-ab05-145ab48f251c",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c5558a48-b8c2-447f-85ec-eb8f8dcb9bed",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "99d1ac38-91ab-4be2-86c5-329cc4b16c59",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "f62c63da-d3a7-48e0-b01e-8a3afc2d6aa0",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c5558a48-b8c2-447f-85ec-eb8f8dcb9bed",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "99d1ac38-91ab-4be2-86c5-329cc4b16c59",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "b091858f-f258-49c4-83ee-9331f2a08a5d",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "888787de-ca89-43eb-9be6-63fc2b5a9078",
      "groupKey": "660a7b83-3b47-44cb-8837-7f9771f33297",
      "areas": [
        {
          "key": "abe6ddc7-b7e9-4dcc-a2d2-0cd1fed380d9",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c5558a48-b8c2-447f-85ec-eb8f8dcb9bed",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "99d1ac38-91ab-4be2-86c5-329cc4b16c59",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "6df3ef78-40b9-4ab8-9f89-6e3b4e93c185",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c5558a48-b8c2-447f-85ec-eb8f8dcb9bed",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "99d1ac38-91ab-4be2-86c5-329cc4b16c59",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "6c5ad4a8-9295-4666-a1dd-d2df9bc466bd",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "888787de-ca89-43eb-9be6-63fc2b5a9078",
      "groupKey": "660a7b83-3b47-44cb-8837-7f9771f33297",
      "areas": [
        {
          "key": "479896cb-2479-41ef-a99d-95c0503411c1",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c5558a48-b8c2-447f-85ec-eb8f8dcb9bed",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "99d1ac38-91ab-4be2-86c5-329cc4b16c59",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "7fbce6fa-0e1a-42fe-9b36-f0d101428529",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "c5558a48-b8c2-447f-85ec-eb8f8dcb9bed",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "99d1ac38-91ab-4be2-86c5-329cc4b16c59",
              "minAllowed": 0
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": {},
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>