<?xml version="1.0" encoding="utf-8"?>
<Content Key="df06978c-4e12-4205-b020-ba3dccf1fb5a" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2026-08-15T14:23:12</CreateDate>
    <NodeName Default="Start">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a00531-07aa-7e01-a3f3-e71132d95eca">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "24a0c8dd-9368-43ec-a6f1-1eb1ac45775e",
      "key": "6c2986e3-a515-4b11-a6d0-4cb68ae309e1",
      "values": []
    },
    {
      "contentTypeKey": "8d011bf0-2864-4ad7-84ab-a457fd7d971e",
      "key": "d80412b2-f181-4d6b-9086-ed61b6b0cd89",
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Willkommen"
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        }
      ]
    },
    {
      "contentTypeKey": "14d3798d-c5b7-4aa3-befe-9f702fbdea8f",
      "key": "d321ba4a-f7f1-464c-aa88-242c160b97ec",
      "values": []
    },
    {
      "contentTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
      "key": "90ba84d7-2b64-466e-812f-f6d9d3fa0f47",
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003EDeutsch\u003C/h2\u003E"
          }
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003EEnglish\u003C/h2\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "d234f9d5-67c2-474c-8e26-1d8db4d8e615",
      "key": "35c7156e-34a5-4a5f-a7ce-1ca7ef990cfb",
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3cba99b7-cf60-4fbf-8826-1e3a166a21a2",
              "mediaKey": "a963d049-5c6f-443c-889b-93d1300e5097",
              "mediaTypeAlias": "",
              "focalPoint": null,
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": ""
            }
          ]
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "rotation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "figCaption",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk"
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk EN"
        }
      ]
    },
    {
      "contentTypeKey": "89bb2397-1aac-417f-9e1c-7f3ac0884999",
      "key": "44585401-5a90-4c2e-bbe6-f6e45cad7bff",
      "values": [
        {
          "alias": "componentPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ContactForm"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ed578766-7b6a-4e76-b31c-7121594c11cc",
      "key": "49a3f1ac-8bee-4c93-bd20-3a965cf6fee8",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3201d5c7-8508-4888-b9d9-d3121f33c72a",
      "key": "faa7aa4b-9623-49d3-a22d-9ad73e83b6d5",
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fee648"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "ed578766-7b6a-4e76-b31c-7121594c11cc",
      "key": "83db2582-b47b-4c05-8cf9-74275e9997d1",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fee648"
          }
        },
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "20px"
        }
      ]
    },
    {
      "contentTypeKey": "f355b84f-9493-42d0-9548-be21a9e10b16",
      "key": "ffde150c-4e2f-437c-ba7a-e01387171e09",
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#5c9aff"
          }
        },
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100px"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6c2986e3-a515-4b11-a6d0-4cb68ae309e1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d321ba4a-f7f1-464c-aa88-242c160b97ec",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d80412b2-f181-4d6b-9086-ed61b6b0cd89",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "90ba84d7-2b64-466e-812f-f6d9d3fa0f47",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "d80412b2-f181-4d6b-9086-ed61b6b0cd89",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "90ba84d7-2b64-466e-812f-f6d9d3fa0f47",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "35c7156e-34a5-4a5f-a7ce-1ca7ef990cfb",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "35c7156e-34a5-4a5f-a7ce-1ca7ef990cfb",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "44585401-5a90-4c2e-bbe6-f6e45cad7bff",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "d80412b2-f181-4d6b-9086-ed61b6b0cd89",
                "rowSpan": 1,
                "settingsKey": "faa7aa4b-9623-49d3-a22d-9ad73e83b6d5"
              }
            ],
            "key": "1a7bd4a4-6ffa-49a2-ad14-a29718a71701"
          }
        ],
        "columnSpan": 12,
        "contentKey": "6c2986e3-a515-4b11-a6d0-4cb68ae309e1",
        "rowSpan": 1,
        "settingsKey": "49a3f1ac-8bee-4c93-bd20-3a965cf6fee8"
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "35c7156e-34a5-4a5f-a7ce-1ca7ef990cfb",
                "rowSpan": 1,
                "settingsKey": null
              }
            ],
            "key": "3b61adc5-1a7a-4cf4-b5b4-9851f243bddc"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "90ba84d7-2b64-466e-812f-f6d9d3fa0f47",
                "rowSpan": 1,
                "settingsKey": "ffde150c-4e2f-437c-ba7a-e01387171e09"
              },
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "44585401-5a90-4c2e-bbe6-f6e45cad7bff",
                "rowSpan": 1,
                "settingsKey": null
              }
            ],
            "key": "2e5ebaf6-66ad-4c07-a3f4-5cff32a5a253"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d321ba4a-f7f1-464c-aa88-242c160b97ec",
        "rowSpan": 1,
        "settingsKey": "83db2582-b47b-4c05-8cf9-74275e9997d1"
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "creme",
  "value": "#eeecd8"
}]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>