<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8ead8cf-251d-44cf-9146-d7c1da06fd73" Alias="Vielen Dank" Level="2">
  <Info>
    <Parent Key="df06978c-4e12-4205-b020-ba3dccf1fb5a">Start</Parent>
    <Path>/Start/VielenDank</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2026-08-21T18:18:39</CreateDate>
    <NodeName Default="Vielen Dank">
      <Name Culture="de-DE">Vielen Dank</Name>
      <Name Culture="en-US">Thank You</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a00531-07aa-7e01-a3f3-e71132d95eca">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "24a0c8dd-9368-43ec-a6f1-1eb1ac45775e",
      "key": "59fc53cc-6702-46a0-850c-95215fa6cfb3",
      "values": []
    },
    {
      "contentTypeKey": "8d011bf0-2864-4ad7-84ab-a457fd7d971e",
      "key": "7050b4f8-4300-4dec-a75f-6c5fbc38b95c",
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Vielen Dank"
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Thank you"
        }
      ]
    },
    {
      "contentTypeKey": "24a0c8dd-9368-43ec-a6f1-1eb1ac45775e",
      "key": "2c1dfcb6-9ca1-4d3c-8aab-d1b6714b0385",
      "values": []
    },
    {
      "contentTypeKey": "c36f9843-b069-4ca3-abbd-2ffd6dc337ff",
      "key": "0d83b49c-f16d-4500-84f8-f500adc72219",
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EWir beantworten Ihre Anfrage schnellst m\u00F6glich.\u003C/p\u003E"
          }
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EWe shall respond as soon as possible.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ed578766-7b6a-4e76-b31c-7121594c11cc",
      "key": "a72fd175-48a5-40e7-9ed5-578965bbb4a7",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3201d5c7-8508-4888-b9d9-d3121f33c72a",
      "key": "78ca1ae7-a166-4c5a-92dc-22901a1f6c65",
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fee648"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "ed578766-7b6a-4e76-b31c-7121594c11cc",
      "key": "028285e1-c605-4555-a3da-018f31dc7cf6",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f355b84f-9493-42d0-9548-be21a9e10b16",
      "key": "79d36d35-8164-45ca-ab35-f83c5a8eda68",
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#029400"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "59fc53cc-6702-46a0-850c-95215fa6cfb3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7050b4f8-4300-4dec-a75f-6c5fbc38b95c",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "2c1dfcb6-9ca1-4d3c-8aab-d1b6714b0385",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0d83b49c-f16d-4500-84f8-f500adc72219",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "7050b4f8-4300-4dec-a75f-6c5fbc38b95c",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "0d83b49c-f16d-4500-84f8-f500adc72219",
      "culture": "en-US",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7050b4f8-4300-4dec-a75f-6c5fbc38b95c",
                "rowSpan": 1,
                "settingsKey": "78ca1ae7-a166-4c5a-92dc-22901a1f6c65"
              }
            ],
            "key": "1a7bd4a4-6ffa-49a2-ad14-a29718a71701"
          }
        ],
        "columnSpan": 12,
        "contentKey": "59fc53cc-6702-46a0-850c-95215fa6cfb3",
        "rowSpan": 1,
        "settingsKey": "a72fd175-48a5-40e7-9ed5-578965bbb4a7"
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0d83b49c-f16d-4500-84f8-f500adc72219",
                "rowSpan": 1,
                "settingsKey": "79d36d35-8164-45ca-ab35-f83c5a8eda68"
              }
            ],
            "key": "1a7bd4a4-6ffa-49a2-ad14-a29718a71701"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2c1dfcb6-9ca1-4d3c-8aab-d1b6714b0385",
        "rowSpan": 1,
        "settingsKey": "028285e1-c605-4555-a3da-018f31dc7cf6"
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "creme",
  "value": "#eeecd8"
}]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>