<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8ead8cf-251d-44cf-9146-d7c1da06fd73" Alias="Vielen Dank" Level="2">
  <Info>
    <Parent Key="df06978c-4e12-4205-b020-ba3dccf1fb5a">Start</Parent>
    <Path>/Start/VielenDank</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2026-08-21T18:18:39</CreateDate>
    <NodeName Default="Vielen Dank">
      <Name Culture="de-DE">Vielen Dank</Name>
      <Name Culture="en-US">Thank You</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a00531-07aa-7e01-a3f3-e71132d95eca">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>