<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e8e938f-3192-46f7-ab62-d85973d2d8ae" Alias="20171102_111101.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T19:43:32</CreateDate>
    <NodeName Default="20171102_111101.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/abmnrgh1/20171102_111101.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>