<?xml version="1.0" encoding="utf-8"?>
<Media Key="adada772-55d8-474d-aff2-a33a2eed38ef" Alias="Customer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Customer</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-03-21T18:10:40</CreateDate>
    <NodeName Default="Customer" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>