<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8fdaab0-69b2-4ce8-b427-0248c680101d" Alias="linkedin-02.jpg" Level="2">
  <Info>
    <Parent Key="adada772-55d8-474d-aff2-a33a2eed38ef">Customer</Parent>
    <Path>/Customer/linkedin02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T21:23:36</CreateDate>
    <NodeName Default="linkedin-02.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h3qlw5w1/linkedin-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>