<?xml version="1.0" encoding="utf-8"?>
<Media Key="705873d7-0a79-4c17-9d9f-c84a9e6de7cd" Alias="linkedin-02.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/linkedin02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-09T16:44:36</CreateDate>
    <NodeName Default="linkedin-02.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lc2b3rqq/linkedin-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>