<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa76e6b5-5a48-49d7-a30b-2ae4165e5931" Alias="P1010236.JPG" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/P1010236JPG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-09T16:43:55</CreateDate>
    <NodeName Default="P1010236.JPG" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hiwdahbb/p1010236.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>