<?xml version="1.0" encoding="utf-8"?>
<Media Key="39c1771a-f76b-4277-aa06-6f4f4f5157a8" Alias="profil-Dirk-Seefeld-2017.jpg" Level="2">
  <Info>
    <Parent Key="adada772-55d8-474d-aff2-a33a2eed38ef">Customer</Parent>
    <Path>/Customer/profilDirkSeefeld2017jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-21T15:01:44</CreateDate>
    <NodeName Default="profil-Dirk-Seefeld-2017.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "Square",
      "width": 700,
      "height": 700,
      "coordinates": null
    },
    {
      "alias": "Landscape",
      "width": 1400,
      "height": 1050,
      "coordinates": {
        "x1": 0.2334716459197787,
        "y1": 0.2652220685415706,
        "x2": 0.1921315506377747,
        "y2": 0.30398032887659443
      }
    },
    {
      "alias": "Portrait",
      "width": 1400,
      "height": 1867,
      "coordinates": {
        "x1": 0.19418721410242107,
        "y1": 0.14286511212763583,
        "x2": 0.21951355572910855,
        "y2": 0.07525382126520139
      }
    }
  ],
  "src": "/media/sw4jpdyc/profil-dirk-seefeld-2017.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>