<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d8a5c532-5d2e-469d-a9c7-6df37fd3def8" Alias="simplePage" Level="1">
  <Info>
    <Name>Simple Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SimplePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f1f1c5c5-6257-4611-bc24-2718ffa69972">SimplePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d8a5c532-5d2e-469d-a9c7-6df37fd3def8" SortOrder="0">simplePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d3ccc97b-d896-4414-9536-83fc1976a50d</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>292637f7-3c45-4d0e-9f01-37ad63659f8e</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>567da042-14b3-4582-b09e-196bc504b9aa</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>