<?xml version="1.0" encoding="utf-8"?>
<Media Key="76fe8327-c94e-4c49-ae2b-87c58e5b010e" Alias="common" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/common</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-25T12:42:06</CreateDate>
    <NodeName Default="common" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>