<?xml version="1.0" encoding="utf-8"?>
<Media Key="2db058c2-adee-4388-80c3-f3422a592761" Alias="LinkedIn-Profile-Logo.jpg" Level="2">
  <Info>
    <Parent Key="76fe8327-c94e-4c49-ae2b-87c58e5b010e">common</Parent>
    <Path>/common/LinkedInProfileLogojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T12:42:18</CreateDate>
    <NodeName Default="LinkedIn-Profile-Logo.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jwjpng2h/linkedin-profile-logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>