<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a499535-a785-4ff3-b6ee-e8ea7ceda7eb" Alias="P1010236.JPG" Level="2">
  <Info>
    <Parent Key="81519fdd-1bf3-4b84-98cf-d4c608423313">wysiwg</Parent>
    <Path>/wysiwg/P1010236JPG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-09T20:19:03</CreateDate>
    <NodeName Default="P1010236.JPG" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xjpb4phm/p1010236.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>