@using Microsoft.AspNetCore.Html
@using Umbraco.Cms.Core.Models.Blocks
@using WysiwgUmbracoCommunityExtensions.Extensions
@using WysiwgUmbracoCommunityExtensions.ViewModels
@model BlockGridItem
@{
    var content = new Wysiwg65_paragraph(Model.Content);
    if (content?.Text == null) return;

    var settings = new Wysiwg65_paragraphSettings(Model.Settings);
    var inlineStyles = string.IsNullOrEmpty(settings?.Color?.Color) ? string.Empty : $"color: {settings?.Color?.Color};";
}
<div class="paragraph" style="@inlineStyles">
    @content.Text.GetHtml()
</div>
