@using System.Text
@using Umbraco.Cms.Core.Models.PublishedContent
@using WysiwgUmbracoCommunityExtensions.ViewModels
@using WysiwgUmbracoCommunityExtensions.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    if (Model?.Areas.Any() != true) { return; }

    var backgroundStyle = Model.Settings?.GetBackgroundStyle();
}

<div class="wysiwg umb-block-grid__area-container"
     style="--umb-block-grid--area-grid-columns: @(Model.AreaGridColumns?.ToString() ?? Model.GridColumns?.ToString() ?? "12");@backgroundStyle">
    @foreach (var area in Model.Areas)
    {
        @await Html.GetBlockGridItemAreaHtmlAsync(area)
    }
</div>
