<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6e8979cc-d34e-46c9-9ac4-c0e446ae3362" Alias="Caption Color" Level="0">
  <Info />
  <Translations>
    <Translation Language="de-DE">Bildunterschriftfarbe</Translation>
    <Translation Language="en-US">Caption Color</Translation>
  </Translations>
</Dictionary>