<?xml version="1.0" encoding="utf-8"?>
<Content Key="43ae5e6e-42ba-4fbe-b823-c43ed74f25b1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-09T20:24:25</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ced838e8-f227-47a6-af3c-70dd6179e065",
      "key": "cbe4e0f4-2061-4f65-b02a-069054def3f8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b6bc9321-37b1-4956-a57b-34a0dbf4fb02",
      "key": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Willkommen"
        }
      ]
    },
    {
      "contentTypeKey": "938e3689-3eb6-40c1-a43e-57fd073f37c9",
      "key": "416f5d11-d87e-46a8-a6b6-f7216de352c8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "2b1f9cd7-e705-48a1-bd13-521ac0b8687b",
      "key": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3ac77b74-2baf-476d-8e4e-eeda3badd74f",
              "mediaKey": "4813b651-7f03-498e-b64c-802a3a74a54d",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.4445812807881773,
                "left": 0.49408864322489054
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1050"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk at Camden Market, London"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "figCaption",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk auf dem Camden Market in London"
        },
        {
          "alias": "rotation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "-10"
        }
      ]
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "84c3440b-d65c-4e43-8bd5-2ec38ccc3f22",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EMore CSS Variables\u003C/h2\u003E\u003Cp\u003EAnd an improved Cropped Image picker.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2 data-pm-slice=\u00220 0 []\u0022\u003EMehr CSS Variables\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E@2025, iDSeefeld.de\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "50da8c4b-a7a8-49a1-845b-eeca7f318cc1",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E@2025, Dirk Seefeld\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "bb075d54-6ca0-4fa8-8ac3-1ad07c202826",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "03a626ab-d658-495c-98c4-4d09571af064",
              "mediaKey": "8a499535-a785-4ff3-b6ee-e8ea7ceda7eb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "67a8a531-2e74-4907-bcfe-a9cdb96e96b4",
      "key": "9f24ed1d-26b6-4fee-90e7-93252543805f",
      "udi": null,
      "values": [
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "f9605d19-031d-4873-8a84-bf514fb8d826",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e0746300-5676-495d-9278-e7db54857fe5",
              "mediaKey": "15d70c37-04fd-4514-9cac-9dd6fb1bd254",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Transparent",
            "value": "#fff"
          }
        },
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "66974307-5788-4fdf-a133-3ec7593e538f",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500px"
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "d131ee93-c107-4252-b68d-7d6f767ff39c",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "cbe4e0f4-2061-4f65-b02a-069054def3f8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "416f5d11-d87e-46a8-a6b6-f7216de352c8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "84c3440b-d65c-4e43-8bd5-2ec38ccc3f22",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "84c3440b-d65c-4e43-8bd5-2ec38ccc3f22",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "50da8c4b-a7a8-49a1-845b-eeca7f318cc1",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9f24ed1d-26b6-4fee-90e7-93252543805f",
                "settingsUdi": null
              }
            ],
            "key": "e571f972-3214-434d-ae8d-79f2078c974e"
          }
        ],
        "columnSpan": 12,
        "contentKey": "cbe4e0f4-2061-4f65-b02a-069054def3f8",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bb075d54-6ca0-4fa8-8ac3-1ad07c202826",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "84c3440b-d65c-4e43-8bd5-2ec38ccc3f22",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "66974307-5788-4fdf-a133-3ec7593e538f",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "50da8c4b-a7a8-49a1-845b-eeca7f318cc1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d131ee93-c107-4252-b68d-7d6f767ff39c",
                "settingsUdi": null
              }
            ],
            "key": "cfca6c9c-73ab-464a-90a5-648fa9cc9da1"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "96e62509-d8fc-4fd2-b37e-b4ab89070d50"
          }
        ],
        "columnSpan": 12,
        "contentKey": "416f5d11-d87e-46a8-a6b6-f7216de352c8",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f9605d19-031d-4873-8a84-bf514fb8d826",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>