<?xml version="1.0" encoding="utf-8"?>
<Content Key="43ae5e6e-42ba-4fbe-b823-c43ed74f25b1" Alias="Home" Level="2">
  <Info>
    <Parent Key="c13073f0-522d-4a80-b184-644524819707">Wysiwyg</Parent>
    <Path>/Wysiwyg/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-09T20:24:25</CreateDate>
    <NodeName Default="Home">
      <Name Culture="da">DK Home</Name>
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
      <Name Culture="nl-NL">NL Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cd088724-2cfa-4466-bb6b-2386318af9b3",
      "key": "0ef518ac-9171-4f1a-9c92-30ce2c06e8b7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "93c59b57-5935-41e7-b3b3-d0da03f7823c",
      "key": "ad69e4de-3ed1-434f-997d-bb4ca8e6e76e",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        }
      ]
    },
    {
      "contentTypeKey": "f4657125-6c97-4cb1-83a8-60191707d7f0",
      "key": "4c30b7f1-f205-49de-a4cd-579737978441",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "a0b4d10a-34e0-4e68-bcc5-65566c304311",
      "key": "0fc6ba5d-a384-4482-ae37-44bad4b5315b",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003ELorem Ipsum\u003C/h2\u003E\u003Cp\u003Emore text to come... \u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://www.idseefeld.de\u0022 title=\u0022www.idseefeld.de (external link)\u0022 type=\u0022external\u0022\u003Eidseefeld.de\u003C/a\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "49751153-2fc3-4c0d-ab99-c12dad93d4fc",
      "key": "6c14e085-7183-4cd1-b463-64b896ba38a0",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fd316e2f-1b47-42bc-9cdd-b2ec31040b35",
              "mediaKey": "bdf88821-75d1-46c9-bd7c-34b86e7a80f2",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.3838248436103664,
                "left": 0.29088471849865954
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1050"
            }
          ]
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fee648"
          }
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk at Camden Market, London"
        },
        {
          "alias": "rotation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "-15"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0972d158-cece-488b-b7c7-78c39984bbe3",
      "key": "73f71419-66f0-4dc5-94c3-bf3bd2f2b92d",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "74b7878a-9016-4855-b04d-74d0497aa1c7",
              "mediaKey": "94c14eec-4559-4053-a10b-225d5db2a593",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "560427db-0054-49f2-a209-4d33b9fa701f",
      "key": "21df5c05-5929-44fe-b849-944221b3b938",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#ffffff"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "0972d158-cece-488b-b7c7-78c39984bbe3",
      "key": "bef4a398-c733-439a-ac5d-68b91a4b56d7",
      "udi": null,
      "values": [
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "520px"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6c020495-70fc-4f3a-8be4-fa85e79a2811",
              "mediaKey": "15d70c37-04fd-4514-9cac-9dd6fb1bd254",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d3298f17-f0dc-48a5-8f88-91958214717f",
      "key": "8ee82b02-4b0d-49a9-a394-a5665bc3b3d2",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fee648"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0ef518ac-9171-4f1a-9c92-30ce2c06e8b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ad69e4de-3ed1-434f-997d-bb4ca8e6e76e",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "4c30b7f1-f205-49de-a4cd-579737978441",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0fc6ba5d-a384-4482-ae37-44bad4b5315b",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "6c14e085-7183-4cd1-b463-64b896ba38a0",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ad69e4de-3ed1-434f-997d-bb4ca8e6e76e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "21df5c05-5929-44fe-b849-944221b3b938",
                "settingsUdi": null
              }
            ],
            "key": "9885b757-559e-48d1-b5b0-69c525c1352d"
          }
        ],
        "columnSpan": 12,
        "contentKey": "0ef518ac-9171-4f1a-9c92-30ce2c06e8b7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "73f71419-66f0-4dc5-94c3-bf3bd2f2b92d",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "0fc6ba5d-a384-4482-ae37-44bad4b5315b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "8ee82b02-4b0d-49a9-a394-a5665bc3b3d2",
                "settingsUdi": null
              }
            ],
            "key": "e26ef938-c61c-47e1-b9eb-7f4d1304851f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "6c14e085-7183-4cd1-b463-64b896ba38a0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "0c2ecdb8-d04f-4aa0-83dc-a7359b01b463"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4c30b7f1-f205-49de-a4cd-579737978441",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bef4a398-c733-439a-ac5d-68b91a4b56d7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#d2c274"
}]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>