<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea3d6871-1667-498d-9567-6c690d84deb9" Alias="Home" Level="2">
  <Info>
    <Parent Key="626016a4-7aa7-409b-b541-132ddf6c7d51">Second Site</Parent>
    <Path>/SecondSite/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-17T12:58:56</CreateDate>
    <NodeName Default="Home">
      <Name Culture="da">Da</Name>
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
      <Name Culture="nl-NL">NL Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ced838e8-f227-47a6-af3c-70dd6179e065",
      "key": "52dc71f1-91a7-4f4f-8561-1dc93a93a734",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b6bc9321-37b1-4956-a57b-34a0dbf4fb02",
      "key": "6cbb0f71-a32d-48b6-96f5-ff0abbc85cfe",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "nl-NL",
          "editorAlias": null,
          "segment": null,
          "value": "NL - Home Second Site"
        },
        {
          "alias": "text",
          "culture": "da",
          "editorAlias": null,
          "segment": null,
          "value": "DA - Home Second Site"
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Start zweite Website"
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Home Second Site"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "6347e7fc-25e1-4a84-9fb4-931b0daaac3a",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "67a8a531-2e74-4907-bcfe-a9cdb96e96b4",
      "key": "cae6ce23-edc5-45a6-833a-399efedd05c6",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Green",
            "value": "#029400"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "52dc71f1-91a7-4f4f-8561-1dc93a93a734",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6cbb0f71-a32d-48b6-96f5-ff0abbc85cfe",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "6cbb0f71-a32d-48b6-96f5-ff0abbc85cfe",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "6cbb0f71-a32d-48b6-96f5-ff0abbc85cfe",
      "culture": "da",
      "segment": null
    },
    {
      "contentKey": "6cbb0f71-a32d-48b6-96f5-ff0abbc85cfe",
      "culture": "nl-NL",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6cbb0f71-a32d-48b6-96f5-ff0abbc85cfe",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cae6ce23-edc5-45a6-833a-399efedd05c6",
                "settingsUdi": null
              }
            ],
            "key": "e571f972-3214-434d-ae8d-79f2078c974e"
          }
        ],
        "columnSpan": 12,
        "contentKey": "52dc71f1-91a7-4f4f-8561-1dc93a93a734",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6347e7fc-25e1-4a84-9fb4-931b0daaac3a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>