<?xml version="1.0" encoding="utf-8"?>
<Content Key="43ae5e6e-42ba-4fbe-b823-c43ed74f25b1" Alias="Home" Level="2">
  <Info>
    <Parent Key="c13073f0-522d-4a80-b184-644524819707">Wysiwyg</Parent>
    <Path>/Wysiwyg/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-09T20:24:25</CreateDate>
    <NodeName Default="Home">
      <Name Culture="da">DK Home</Name>
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
      <Name Culture="nl-NL">NL Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b6bc9321-37b1-4956-a57b-34a0dbf4fb02",
      "key": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome to the Wysiwyg Demo Site"
        }
      ]
    },
    {
      "contentTypeKey": "938e3689-3eb6-40c1-a43e-57fd073f37c9",
      "key": "416f5d11-d87e-46a8-a6b6-f7216de352c8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "2b1f9cd7-e705-48a1-bd13-521ac0b8687b",
      "key": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3ac77b74-2baf-476d-8e4e-eeda3badd74f",
              "mediaKey": "4813b651-7f03-498e-b64c-802a3a74a54d",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.4445812807881773,
                "left": 0.49408864322489054
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1050"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk at Camden Market, London"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "rotation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "-15"
        }
      ]
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "130cb0a5-9a33-446d-88b6-3362b0d330f3",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EMore CSS Variables\u003C/h2\u003E\u003Cp\u003EAnd an improved Cropped Image picker.\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:626016a4-7aa7-409b-b541-132ddf6c7d51}\u0022 title=\u0022Second Site\u0022 type=\u0022document\u0022\u003EFirst Link\u003C/a\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:3387fbd2-b30e-40be-b1fd-c65c0e270ad3}\u0022 title=\u0022Imprint\u0022 type=\u0022document\u0022\u003EImprint\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "243e0397-5b00-406d-9087-83dbb91b73ba",
      "key": "6572850f-31af-4d76-9956-cbd1ee15719b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "0598ede0-2ded-450b-892e-409152d146ba",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EMore CSS Variables\u003C/h2\u003E\u003Cp\u003EAnd an improved Cropped Image picker.\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:626016a4-7aa7-409b-b541-132ddf6c7d51}\u0022 title=\u0022Second Site\u0022 type=\u0022document\u0022\u003EFirst Link\u003C/a\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:3387fbd2-b30e-40be-b1fd-c65c0e270ad3}\u0022 title=\u0022Imprint\u0022 type=\u0022document\u0022\u003EImprint\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "c88a0d9a-2929-4c7f-ab76-a227ca7f211a",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EMore CSS Variables\u003C/h2\u003E\u003Cp\u003EAnd an improved Cropped Image picker.\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:626016a4-7aa7-409b-b541-132ddf6c7d51}\u0022 title=\u0022Second Site\u0022 type=\u0022document\u0022\u003EFirst Link\u003C/a\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:3387fbd2-b30e-40be-b1fd-c65c0e270ad3}\u0022 title=\u0022Imprint\u0022 type=\u0022document\u0022\u003EImprint\u003C/a\u003E\u003C/p\u003E\u003Ch3\u003ERelated Links:\u003C/h3\u003E\u003Cp\u003E\u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://idseefeld.de\u0022 title=\u0022[external]\u0022 type=\u0022external\u0022\u003Eidseefeld.de\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "2b1f9cd7-e705-48a1-bd13-521ac0b8687b",
      "key": "a26e82ee-c041-409a-8759-77f0859836ea",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3ac77b74-2baf-476d-8e4e-eeda3badd74f",
              "mediaKey": "4813b651-7f03-498e-b64c-802a3a74a54d",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.4445812807881773,
                "left": 0.49408864322489054
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1050"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk at Camden Market, London"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "rotation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "-15"
        }
      ]
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "67731405-7f6d-47f8-bf46-5b694b7f852c",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EMore CSS Variables\u003C/h2\u003E\u003Cp\u003EAnd an improved \u003C/p\u003E\u003Cp\u003ECropped Image picker.\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:626016a4-7aa7-409b-b541-132ddf6c7d51}\u0022 title=\u0022Second Site\u0022 type=\u0022document\u0022\u003EFirst Link\u003C/a\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:3387fbd2-b30e-40be-b1fd-c65c0e270ad3}\u0022 title=\u0022Imprint\u0022 type=\u0022document\u0022\u003EImprint\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "eb578168-a035-4720-a5cb-6ae21bda2437",
      "key": "d02f98d5-b14c-4dae-ae2a-367eef943139",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "e614862b-a822-4cc8-8828-6792f8b0bd3e",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp style=\u0022text-align: left\u0022\u003E@2025, Dirk Seefeld\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "67a8a531-2e74-4907-bcfe-a9cdb96e96b4",
      "key": "9f24ed1d-26b6-4fee-90e7-93252543805f",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        },
        {
          "alias": "margin",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0 0 30px"
        }
      ]
    },
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "f9605d19-031d-4873-8a84-bf514fb8d826",
      "udi": null,
      "values": [
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500px"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a3161481-de9a-4071-9807-297fd52bf082",
              "mediaKey": "15d70c37-04fd-4514-9cac-9dd6fb1bd254",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Green",
            "value": "#029400"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "51132229-d220-4376-abc0-0bd22da1fe5d",
      "udi": null,
      "values": [
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "010b8fca-03d2-4471-8138-9ec0a6e3bafd",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "7e937fe8-a0b1-4b6c-8cc5-d3e9e8e5972e",
      "udi": null,
      "values": [
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "450px"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "1722c54e-b525-4133-b91f-10b087741886",
      "udi": null,
      "values": [
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "450px"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Red",
            "value": "#d60000"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "6139c927-0273-4d53-be4e-4d19ab6cb86d",
      "udi": null,
      "values": [
        {
          "alias": "minHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "ed4c3740-20ef-4f23-a0b0-2c0a9de88c77",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0e7690a1-bafb-456a-b90c-a5f36543053f",
              "mediaKey": "8a499535-a785-4ff3-b6ee-e8ea7ceda7eb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "0b83d7d7-eff1-4673-bdd7-151a7c3c6cec",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "416f5d11-d87e-46a8-a6b6-f7216de352c8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
      "culture": "da",
      "segment": null
    },
    {
      "contentKey": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
      "culture": "da",
      "segment": null
    },
    {
      "contentKey": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
      "culture": "nl-NL",
      "segment": null
    },
    {
      "contentKey": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
      "culture": "nl-NL",
      "segment": null
    },
    {
      "contentKey": "130cb0a5-9a33-446d-88b6-3362b0d330f3",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "130cb0a5-9a33-446d-88b6-3362b0d330f3",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "130cb0a5-9a33-446d-88b6-3362b0d330f3",
      "culture": "da",
      "segment": null
    },
    {
      "contentKey": "130cb0a5-9a33-446d-88b6-3362b0d330f3",
      "culture": "nl-NL",
      "segment": null
    },
    {
      "contentKey": "6572850f-31af-4d76-9956-cbd1ee15719b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0598ede0-2ded-450b-892e-409152d146ba",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "c88a0d9a-2929-4c7f-ab76-a227ca7f211a",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "a26e82ee-c041-409a-8759-77f0859836ea",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "67731405-7f6d-47f8-bf46-5b694b7f852c",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "d02f98d5-b14c-4dae-ae2a-367eef943139",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e614862b-a822-4cc8-8828-6792f8b0bd3e",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "029d8c7d-9413-465f-b5a2-4f7ccd6924b6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9f24ed1d-26b6-4fee-90e7-93252543805f",
                "settingsUdi": null
              }
            ],
            "key": "22b628c8-007c-4931-b9af-4b06248ee979"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "a26e82ee-c041-409a-8759-77f0859836ea",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "1b248167-4465-43cc-98f7-722993fab402"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "67731405-7f6d-47f8-bf46-5b694b7f852c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6139c927-0273-4d53-be4e-4d19ab6cb86d",
                "settingsUdi": null
              }
            ],
            "key": "7cb4cd29-209a-49fb-bc4f-37cd0252a691"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e614862b-a822-4cc8-8828-6792f8b0bd3e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "0b83d7d7-eff1-4673-bdd7-151a7c3c6cec",
                "settingsUdi": null
              }
            ],
            "key": "cc12952c-9105-4d6f-8bdd-f22e0fd2e914"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d02f98d5-b14c-4dae-ae2a-367eef943139",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ed4c3740-20ef-4f23-a0b0-2c0a9de88c77",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "130cb0a5-9a33-446d-88b6-3362b0d330f3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "51132229-d220-4376-abc0-0bd22da1fe5d",
                "settingsUdi": null
              }
            ],
            "key": "cfca6c9c-73ab-464a-90a5-648fa9cc9da1"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "095903bc-ae1f-40ea-8adb-4fad089b5f96",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "96e62509-d8fc-4fd2-b37e-b4ab89070d50"
          }
        ],
        "columnSpan": 12,
        "contentKey": "416f5d11-d87e-46a8-a6b6-f7216de352c8",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f9605d19-031d-4873-8a84-bf514fb8d826",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "0598ede0-2ded-450b-892e-409152d146ba",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7e937fe8-a0b1-4b6c-8cc5-d3e9e8e5972e",
                "settingsUdi": null
              }
            ],
            "key": "cd5e0d3d-b8e9-4a7a-a9ad-b164a16b6d39"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "c88a0d9a-2929-4c7f-ab76-a227ca7f211a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1722c54e-b525-4133-b91f-10b087741886",
                "settingsUdi": null
              }
            ],
            "key": "b586cf42-f6a6-4ae5-8da9-3845af7c7225"
          }
        ],
        "columnSpan": 12,
        "contentKey": "6572850f-31af-4d76-9956-cbd1ee15719b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "010b8fca-03d2-4471-8138-9ec0a6e3bafd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>