<?xml version="1.0" encoding="utf-8"?>
<Content Key="3387fbd2-b30e-40be-b1fd-c65c0e270ad3" Alias="Imprint" Level="2">
  <Info>
    <Parent Key="c13073f0-522d-4a80-b184-644524819707">Wysiwyg</Parent>
    <Path>/Wysiwyg/Imprint</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-11T22:03:24</CreateDate>
    <NodeName Default="Imprint">
      <Name Culture="de-DE">Impressum</Name>
      <Name Culture="en-US">Imprint</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ced838e8-f227-47a6-af3c-70dd6179e065",
      "key": "dfb6edd7-8c85-427d-80a3-de714c2b074d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b6bc9321-37b1-4956-a57b-34a0dbf4fb02",
      "key": "93fddede-f5ae-4025-ba8c-ea1d67def2c5",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Impressum"
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Imprint"
        }
      ]
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "5179a94d-007e-4a35-8ac8-5fd591a53a31",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch3 data-pm-slice=\u00221 1 []\u0022\u003EAuthor\u003C/h3\u003E\u003Cp\u003EDirk Seefeld\u003Cbr\u003EHoherade 18\u003Cbr\u003ED-20257 Hamburg\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:c13073f0-522d-4a80-b184-644524819707}\u0022 title=\u0022Wysiwyg\u0022 type=\u0022document\u0022\u003EHome\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch3\u003EAutor\u003C/h3\u003E\u003Cp\u003EDirk Seefeld\u003Cbr\u003EHoherade 18\u003Cbr\u003E20257 Hamburg\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:c13073f0-522d-4a80-b184-644524819707}\u0022 title=\u0022Wysiwyg\u0022 type=\u0022document\u0022\u003EStart\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "39cdbc45-845e-42ac-b7f7-59c008d53144",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "67a8a531-2e74-4907-bcfe-a9cdb96e96b4",
      "key": "b902077c-120a-493b-a225-e0a001a81a90",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "e6cc24bb-c4cf-4876-ac2e-612a19d7ac77",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "dfb6edd7-8c85-427d-80a3-de714c2b074d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "93fddede-f5ae-4025-ba8c-ea1d67def2c5",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "93fddede-f5ae-4025-ba8c-ea1d67def2c5",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "5179a94d-007e-4a35-8ac8-5fd591a53a31",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "5179a94d-007e-4a35-8ac8-5fd591a53a31",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "93fddede-f5ae-4025-ba8c-ea1d67def2c5",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b902077c-120a-493b-a225-e0a001a81a90",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "5179a94d-007e-4a35-8ac8-5fd591a53a31",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e6cc24bb-c4cf-4876-ac2e-612a19d7ac77",
                "settingsUdi": null
              }
            ],
            "key": "e571f972-3214-434d-ae8d-79f2078c974e"
          }
        ],
        "columnSpan": 12,
        "contentKey": "dfb6edd7-8c85-427d-80a3-de714c2b074d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "39cdbc45-845e-42ac-b7f7-59c008d53144",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#d2c274"
}]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>