<?xml version="1.0" encoding="utf-8"?>
<Content Key="07a82455-c396-4ac9-8b3f-49f9e5a6d7c9" Alias="only one layout" Level="3">
  <Info>
    <Parent Key="ea3d6871-1667-498d-9567-6c690d84deb9">Home</Parent>
    <Path>/SecondSite/Home/onlyOneLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-20T11:03:10</CreateDate>
    <NodeName Default="only one layout">
      <Name Culture="en-US">only one layout</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ced838e8-f227-47a6-af3c-70dd6179e065",
      "key": "fd7f28ad-dd07-4ccf-b89c-6dcf33cde02e",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "60213d36-7283-4736-804d-cf0cc2298f17",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fd7f28ad-dd07-4ccf-b89c-6dcf33cde02e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "e571f972-3214-434d-ae8d-79f2078c974e"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fd7f28ad-dd07-4ccf-b89c-6dcf33cde02e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "60213d36-7283-4736-804d-cf0cc2298f17",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>