<?xml version="1.0" encoding="utf-8"?>
<Content Key="95b3f58c-6cca-41a3-ad4f-3b1b9ac4be59" Alias="Test" Level="2">
  <Info>
    <Parent Key="c13073f0-522d-4a80-b184-644524819707">Wysiwyg</Parent>
    <Path>/Wysiwyg/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-17T12:39:05</CreateDate>
    <NodeName Default="Test">
      <Name Culture="de-DE">Test</Name>
      <Name Culture="en-US">Test</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ced838e8-f227-47a6-af3c-70dd6179e065",
      "key": "6af5e259-b9d3-4ae3-883f-d0384c4557dd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b6bc9321-37b1-4956-a57b-34a0dbf4fb02",
      "key": "6ae67d4a-3dbe-4ab2-8c21-482a7027c5ab",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "DE Test"
        }
      ]
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "5a65713e-5ba9-435b-8853-2be3a8790b54",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:84901006-13ac-470f-a54e-1dd3756c1bb7}\u0022 title=\u0022Test 2\u0022 type=\u0022document\u0022\u003ETest 2\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch3 data-pm-slice=\u00221 1 []\u0022\u003EDE\u003C/h3\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:84901006-13ac-470f-a54e-1dd3756c1bb7}\u0022 title=\u0022Test 2\u0022 type=\u0022document\u0022\u003ETest 2\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "bf9c4012-8063-49ed-8a7a-b88808078ee7",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "67a8a531-2e74-4907-bcfe-a9cdb96e96b4",
      "key": "53b682c8-641c-4556-86ad-6db3123b1b36",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "6f407559-8688-4ebc-80b0-37044014153e",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6af5e259-b9d3-4ae3-883f-d0384c4557dd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6ae67d4a-3dbe-4ab2-8c21-482a7027c5ab",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "5a65713e-5ba9-435b-8853-2be3a8790b54",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "6ae67d4a-3dbe-4ab2-8c21-482a7027c5ab",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "5a65713e-5ba9-435b-8853-2be3a8790b54",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6ae67d4a-3dbe-4ab2-8c21-482a7027c5ab",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "53b682c8-641c-4556-86ad-6db3123b1b36",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "5a65713e-5ba9-435b-8853-2be3a8790b54",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6f407559-8688-4ebc-80b0-37044014153e",
                "settingsUdi": null
              }
            ],
            "key": "e571f972-3214-434d-ae8d-79f2078c974e"
          }
        ],
        "columnSpan": 12,
        "contentKey": "6af5e259-b9d3-4ae3-883f-d0384c4557dd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bf9c4012-8063-49ed-8a7a-b88808078ee7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>