<?xml version="1.0" encoding="utf-8"?>
<Content Key="794e872a-66a8-4483-8e1b-feee28a7c33d" Alias="Third" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Third</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2025-05-20T16:30:53</CreateDate>
    <NodeName Default="Third">
      <Name Culture="de-DE">Drittens</Name>
      <Name Culture="en-US">Third</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="da74443d-2108-43a8-8d02-8dd762368494">Test</Template>
  </Info>
  <Properties>
    <rte>
      <Value Culture="de-DE"><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022background-color: rgb(65, 117, 5); color: rgb(248, 231, 28); font-size: 48pt; font-family: cursive;\u0022\u003EDrittens\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:a5b6c213-cc40-42ff-b1a2-571bc24586f2}\u0022 title=\u0022Chapter 1\u0022 type=\u0022document\u0022\u003E\u003Cspan style=\u0022font-family: sans-serif; font-size: 14pt;\u0022\u003ELink\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cstrong\u003E\u003Cspan style=\u0022background-color: rgb(248, 231, 28); color: rgb(208, 2, 27); font-family: fantasy; font-size: 48pt;\u0022\u003EThird\u003C/span\u003E\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:a5b6c213-cc40-42ff-b1a2-571bc24586f2}\u0022 title=\u0022Chapter 1\u0022 type=\u0022document\u0022\u003E\u003Cspan style=\u0022font-family: sans-serif; font-size: 14pt;\u0022\u003ELink\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </rte>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>