<?xml version="1.0" encoding="utf-8"?>
<Content Key="c13073f0-522d-4a80-b184-644524819707" Alias="Wysiwyg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wysiwyg</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleRootPage</ContentType>
    <CreateDate>2025-05-12T11:51:23</CreateDate>
    <NodeName Default="Wysiwyg">
      <Name Culture="da">Wysiwyg Da</Name>
      <Name Culture="de-DE">Wysiwyg</Name>
      <Name Culture="en-US">Wysiwyg</Name>
      <Name Culture="nl-NL">Wysiwyg NL</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="aeeb58d7-11e2-4465-bd11-d327b4609436">simpleRootPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <siteBackgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#d2c274"
}]]></Value>
    </siteBackgroundColor>
    <umbracoRedirect>
      <Value><![CDATA[umb://document/43ae5e6e42ba4fbeb823c43ed74f25b1]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>