<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2ed9551-30a4-4d90-a1f9-4a7b57f21d9b" Alias="Copilot_20250627_130708.webp" Level="2">
  <Info>
    <Parent Key="d9925065-3d4b-4fa7-91bc-3b629be66487">common</Parent>
    <Path>/common/Copilot_20250627_130708webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-24T14:29:18</CreateDate>
    <NodeName Default="Copilot_20250627_130708.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.2607999267578125,
    "top": 0.2971949189893717
  },
  "crops": [
    {
      "alias": "squareC",
      "width": 1200,
      "height": 1200,
      "coordinates": null
    },
    {
      "alias": "landscapeC",
      "width": 1200,
      "height": 800,
      "coordinates": null
    },
    {
      "alias": "portraitC",
      "width": 800,
      "height": 1200,
      "coordinates": null
    }
  ],
  "src": "/media/1zplwbgn/copilot_20250627_130708.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>