<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90f5b2e6-37fa-4e69-8512-693fc5e4f3f0" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "8cbf3f0b-5435-43a6-a6bd-29aea03e7620"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "93c59b57-5935-41e7-b3b3-d0da03f7823c",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "560427db-0054-49f2-a209-4d33b9fa701f"
    },
    {
      "contentElementTypeKey": "a0b4d10a-34e0-4e68-bcc5-65566c304311",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "d3298f17-f0dc-48a5-8f88-91958214717f"
    },
    {
      "contentElementTypeKey": "49751153-2fc3-4c0d-ab99-c12dad93d4fc",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cd088724-2cfa-4466-bb6b-2386318af9b3",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "8cbf3f0b-5435-43a6-a6bd-29aea03e7620",
      "settingsElementTypeKey": "0972d158-cece-488b-b7c7-78c39984bbe3",
      "areas": [
        {
          "key": "9885b757-559e-48d1-b5b0-69c525c1352d",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "f4657125-6c97-4cb1-83a8-60191707d7f0",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "8cbf3f0b-5435-43a6-a6bd-29aea03e7620",
      "settingsElementTypeKey": "0972d158-cece-488b-b7c7-78c39984bbe3",
      "areas": [
        {
          "key": "e26ef938-c61c-47e1-b9eb-7f4d1304851f",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "a0b4d10a-34e0-4e68-bcc5-65566c304311"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "49751153-2fc3-4c0d-ab99-c12dad93d4fc"
            }
          ]
        },
        {
          "key": "0c2ecdb8-d04f-4aa0-83dc-a7359b01b463",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "a0b4d10a-34e0-4e68-bcc5-65566c304311"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "49751153-2fc3-4c0d-ab99-c12dad93d4fc"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "2fa4e9ea-ce47-4415-9466-0626debf87a2",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "8cbf3f0b-5435-43a6-a6bd-29aea03e7620",
      "settingsElementTypeKey": "0972d158-cece-488b-b7c7-78c39984bbe3",
      "areas": [
        {
          "key": "8a24dbb2-a776-40de-8ba5-27d5de92663f",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "a0b4d10a-34e0-4e68-bcc5-65566c304311"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "49751153-2fc3-4c0d-ab99-c12dad93d4fc"
            }
          ]
        },
        {
          "key": "e91cfb57-324f-462d-b047-226d5974520c",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "a0b4d10a-34e0-4e68-bcc5-65566c304311"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "49751153-2fc3-4c0d-ab99-c12dad93d4fc"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "5aaf6736-1c42-4688-8963-76d02ca73f4b",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "8cbf3f0b-5435-43a6-a6bd-29aea03e7620",
      "settingsElementTypeKey": "0972d158-cece-488b-b7c7-78c39984bbe3",
      "areas": [
        {
          "key": "812b123c-11fa-40a8-9b8e-21213e8685a5",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "a0b4d10a-34e0-4e68-bcc5-65566c304311"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "49751153-2fc3-4c0d-ab99-c12dad93d4fc"
            }
          ]
        },
        {
          "key": "27872e7d-ccba-4de5-aae5-ef9cef1ebf54",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "a0b4d10a-34e0-4e68-bcc5-65566c304311"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "49751153-2fc3-4c0d-ab99-c12dad93d4fc"
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/wysiwyg-blockgrid.min.css",
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>