<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd42047d-7456-45cb-b746-5452514db6bf" Alias="wysiwg65_LimitedHeadline" Level="2">
  <Info>
    <Name>wysiwg65_LimitedHeadline</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 120
}]]></Config>
</DataType>