<?xml version="1.0" encoding="utf-8"?>
<DataType Key="053003dd-a2bb-478c-9bed-4f07cdb9db44" Alias="wysiwg65_LimitedHeadline" Level="2">
  <Info>
    <Name>wysiwg65_LimitedHeadline</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 120
}]]></Config>
</DataType>