<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0aa0b8fc-726e-45f0-a467-dc7202d58c88" Alias="wysiwg65_Rotation" Level="2">
  <Info>
    <Name>wysiwg65_Rotation</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 90,
  "minVal": -90,
  "step": 5
}]]></Config>
</DataType>