@using Umbraco.Cms.Web.Common.PublishedModels;
@using WysiwgUmbracoCommunityExtensions.Services
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SimplePage>
@{
    Layout = null;
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture;
    var lang = culture.Name;
    var pageBackgroundColor = WysiwygPublishedContentService.GetColor(Model.PageBackgroundColor);
}
<!DOCTYPE html>
<html lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Simple Page</title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />

    <link href="~/styles/Demo.min.css" rel="stylesheet" />
    <link href="~/styles/customblockgrid.min.css" rel="stylesheet" />
    <style>
        body{
            background-color: @(pageBackgroundColor ?? "inherit");
        }
    </style>
</head>
<body id="top">
    <div id="canvas">

        @await Html.GetBlockGridHtmlAsync(Model.Grid)

        <footer>
            @await Html.PartialAsync("languageSwitch")
        </footer>

    </div>
</body>
</html>
