@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SimplePage>
@{
    Layout = null;
    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<!DOCTYPE html>
<html lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Simple Page</title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />

    <link href="~/styles/Demo.min.css" rel="stylesheet" />
    <link href="~/styles/customblockgrid.min.css" rel="stylesheet" />
    <style>
        body{
            background-color: @(Model.PageBackgroundColor ?? "inherit");
        }
    </style>
</head>
<body id="top">
    <div id="canvas">

        @await Html.GetBlockGridHtmlAsync(Model.Grid)

        <footer>
            <a href="/umbraco" target="_blank">backoffice</a>
        </footer>

    </div>
</body>
</html>
