<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="96f91a41-5357-4980-8501-9c631faec68f" Alias="Meta Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="de-DE">Meta Titel</Translation>
    <Translation Language="en-US">Meta Title</Translation>
  </Translations>
</Dictionary>