* {
  /*colors*/
  --wysiwg-highlight-color: #833ad8;
  --wysiwg-text-color: #000;
  --wysiwg-error-color: #cc0000;
  /*all elements*/
  --wysiwg-font-family: 'Comic Sans MS';
  --wysiwg-line-height-28: 28px;
  --wysiwg-line-height-24: 24px;
  --wysiwg-line-height-16: 1.2em;
  --wysiwg-line-height-14: 1.2em;
  --wysiwg-line-height-12: 1.2em;
  --wysiwg-line-height-10: 1.2em;
  --wysiwg-font-size-24: 24px;
  --wysiwg-font-size-16: 16px;
  --wysiwg-font-size-14: 14px;
  --wysiwg-font-size-12: 12px;
  --wysiwg-font-size-10: 10px;
  --wysiwg-text-shadow: rgba(0,0,0,0.3) 0.2em 0.3em 0.2em; /* none; */
  --wysiwg-text-dark-shadow: rgba(0,0,0,0.9) 0.3em 0.4em 0.3em; /* none; */
  --wysiwg-link-hover-color: var(--wysiwg-highlight-color, inherit);
  /*headline element*/
  --wysiwg-headline-text-shadow: var(--wysiwg-text-shadow, none);
  --wysiwg-headline-color: var(--wysiwg-highlight-color, inherit);
  --wysiwg-headline-1-font-size: 32px;
  --wysiwg-headline-2-font-size: 28px;
  --wysiwg-headline-3-font-size: 24px;
  --wysiwg-headline-1-line-height: 1.2em;
  --wysiwg-headline-2-line-height: 1.2em;
  --wysiwg-headline-3-line-height: 1.2em;
  --wysiwg-headline-1-margin: 0;
  --wysiwg-headline-2-margin: 0;
  --wysiwg-headline-3-margin: 0;
  /*paragraph element*/
  --wysiwg-headline-paragraph-2-margin: 0 0 18px;
  --wysiwg-headline-paragraph-3-margin: 0 0 16px;
  /*--wysiwg-paragraph-headline-color: var(--wysiwg-highlight-color, inherit);*/
  --wysiwg-p-paragraph-margin: 0;
  --wysiwg-p-paragraph-padding: 0 0 20px;
  --wysiwg-link-text-decoration: underline;
  --wysiwg-paragraph-headline-text-shadow: var(--wysiwg-text-dark-shadow, none);
  --wysiwg-paragraph-text-shadow: var(--wysiwg-text-dark-shadow, none);
  /*cropped-picture element*/
  --wysiwg-figcaption-font-style: italic;
  --wysiwg-figcaption-rotate-font-style: normal;
  --wysiwg-figcaption-text-shadow: var(--wysiwg-text-shadow, none);
  --wysiwg-figcaption-color: inherit;
  --wysiwg-figcaption-font-style: italic;
  --wysiwg-figcaption-font-variant: none;
  --wysiwg-figcaption-font-weight: normal;
  --wysiwg-figcaption-font-size: 90%;
  --wysiwg-figcaption-font-family: inherit;
  --wysiwg-figcaption-line-height: 1.2em;
  --wysiwg-figcaption-margin: 0;
  --wysiwg-figcaption-padding: 10px;
  --wysiwg-cropped-image-border-radius: 20px;
  --wysiwg-image-border-radius: 10px;
  --wysiwg-cropped-image-width: calc(100% - var(--wysiwg-cropped-image-border-radius, 0));
  --wysiwg-cropped-image-border-style: dotted;
  --wysiwg-cropped-image-border-width: 3;
  --wysiwg-cropped-image-border-color: #eeee00;
  --wysiwg-cropped-image-box-shadow: rgba(0,0,0,0.3) 5px 10px 10px;
  --wysiwg-cropped-image-background-color: transparent;
  /*end element*/
  /*umbraco*/
  --umb-block-grid--areas-column-gap: 10px;
}
