<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c8778ff-0d53-4e28-b27f-5db73fa2a9fd" Alias="Chapter 2" Level="2">
  <Info>
    <Parent Key="794e872a-66a8-4483-8e1b-feee28a7c33d">Third</Parent>
    <Path>/Third/Chapter2</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2025-05-20T16:41:10</CreateDate>
    <NodeName Default="Chapter 2">
      <Name Culture="de-DE">Kapitel 2</Name>
      <Name Culture="en-US">Chapter 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="de-DE">false</Published>
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="da74443d-2108-43a8-8d02-8dd762368494">Test</Template>
  </Info>
  <Properties>
    <rte>
      <Value Culture="de-DE"><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cstrong\u003E\u003Cspan style=\u0022font-size: 18pt;;\u0022\u003EKapitel 2\u003C/span\u003E\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:a5b6c213-cc40-42ff-b1a2-571bc24586f2}\u0022 title=\u0022Chapter 1\u0022 type=\u0022document\u0022\u003E\u003Cspan style=\u0022font-family: sans-serif; font-size: 14pt;\u0022\u003ELink\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 48pt; font-family: serif; color: rgb(144, 19, 254);\u0022\u003EChapter 2\u003C/span\u003E\u003C/p\u003E\u003Cp data-pm-slice=\u00221 1 []\u0022\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:a5b6c213-cc40-42ff-b1a2-571bc24586f2}\u0022 title=\u0022Chapter 1\u0022 type=\u0022document\u0022\u003E\u003Cspan style=\u0022font-family: sans-serif; font-size: 14pt;\u0022\u003ELink\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </rte>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>