<?xml version="1.0" encoding="utf-8"?>
<Content Key="626016a4-7aa7-409b-b541-132ddf6c7d51" Alias="Second Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SecondSite</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleRootPage</ContentType>
    <CreateDate>2025-05-17T12:54:19</CreateDate>
    <NodeName Default="Second Site">
      <Name Culture="da">DA 2</Name>
      <Name Culture="de-DE">Zweite Website</Name>
      <Name Culture="en-US">Second Site</Name>
      <Name Culture="nl-NL">NL 2</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="903a565f-14de-4d02-a7f0-39641fb85a0d">gotoFirstChild</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <siteBackgroundColor>
      <Value><![CDATA[{
  "label": "Grey",
  "value": "#ccc"
}]]></Value>
    </siteBackgroundColor>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>