<?xml version="1.0" encoding="utf-8"?>
<Content Key="84901006-13ac-470f-a54e-1dd3756c1bb7" Alias="Test 2" Level="2">
  <Info>
    <Parent Key="c13073f0-522d-4a80-b184-644524819707">Wysiwyg</Parent>
    <Path>/Wysiwyg/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-17T12:43:51</CreateDate>
    <NodeName Default="Test 2">
      <Name Culture="de-DE">Test 2</Name>
      <Name Culture="en-US">Test 2</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ced838e8-f227-47a6-af3c-70dd6179e065",
      "key": "96927f4f-8f0f-4b6b-b437-860cb58f5153",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b6bc9321-37b1-4956-a57b-34a0dbf4fb02",
      "key": "a3ccb257-56f7-44da-86a2-85f1e7629e04",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Test 2"
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "DE Test 2"
        }
      ]
    },
    {
      "contentTypeKey": "2e794aab-42ec-4407-91cc-06b90c754afc",
      "key": "6c5f6898-c691-4f69-be4f-687990f5df30",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:95b3f58c-6cca-41a3-ad4f-3b1b9ac4be59}\u0022 title=\u0022Test\u0022 type=\u0022document\u0022\u003ETest\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch3\u003EDE\u003C/h3\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:95b3f58c-6cca-41a3-ad4f-3b1b9ac4be59}\u0022 title=\u0022Test\u0022 type=\u0022document\u0022\u003ETest\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3bf369f7-1baa-4997-8373-2687300f40c5",
      "key": "fa8a4efa-2eb5-4f3e-9ef0-7a3943bc4377",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Red",
            "value": "#d60000"
          }
        }
      ]
    },
    {
      "contentTypeKey": "67a8a531-2e74-4907-bcfe-a9cdb96e96b4",
      "key": "c787f80c-857c-4a98-8fb6-95d8f43446cb",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "a74ea18c-8f65-4b5c-be7c-e90120c76a0f",
      "key": "e67a77b6-6a8d-4b3f-b35f-a05daa772dcc",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "96927f4f-8f0f-4b6b-b437-860cb58f5153",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a3ccb257-56f7-44da-86a2-85f1e7629e04",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "6c5f6898-c691-4f69-be4f-687990f5df30",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "a3ccb257-56f7-44da-86a2-85f1e7629e04",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "6c5f6898-c691-4f69-be4f-687990f5df30",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a3ccb257-56f7-44da-86a2-85f1e7629e04",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c787f80c-857c-4a98-8fb6-95d8f43446cb",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6c5f6898-c691-4f69-be4f-687990f5df30",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e67a77b6-6a8d-4b3f-b35f-a05daa772dcc",
                "settingsUdi": null
              }
            ],
            "key": "e571f972-3214-434d-ae8d-79f2078c974e"
          }
        ],
        "columnSpan": 12,
        "contentKey": "96927f4f-8f0f-4b6b-b437-860cb58f5153",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fa8a4efa-2eb5-4f3e-9ef0-7a3943bc4377",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
  </Properties>
</Content>