<?xml version="1.0" encoding="utf-8"?>
<Content Key="e91061c5-6aca-4121-bad6-21d414b1862e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-06T13:11:00</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="628a5696-6175-4f40-9525-0a1b6239e641">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cb0a7a05-082f-40c0-b443-edd3c7e98265",
      "key": "46c521e2-9eab-41f3-8075-1f4ace2f624e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "4e476934-58ff-4ad5-8ab4-15c258819354",
      "key": "63460d55-5c60-4dc7-a97e-cc69003288ce",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        }
      ]
    },
    {
      "contentTypeKey": "b48aedf8-c349-4288-ad01-c2de8efff175",
      "key": "de447f19-ffc0-4dc5-8927-778015f0f6aa",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "45d4c4a9-5b39-409b-85f0-84802a3d02d1",
      "key": "fd7c3fa1-0345-4969-9ee1-edcfcfaba738",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6fd24b6f-8f17-4025-9414-f963c5cfb7b3",
              "mediaKey": "8ae2a4de-5e24-40f9-8925-5e10c6ecc622",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.413613345248734,
                "left": 0.3116621983914209
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1050x1485"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c93c7b0c-cf63-4ee3-a111-58637362ff51",
      "key": "58139228-2623-443f-9610-78d770ec5d56",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003ELorem Ipsum\u003C/h2\u003E\u003Cp\u003Emore text\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d63c8944-1f9a-41d5-a8ac-048fd664f3a1",
      "key": "f62fa472-d7da-446d-9632-c2d726e40d2b",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "197c95b2-849f-45f7-a837-15d5e06d681d",
      "key": "a83e16b6-1bdd-4e3a-83eb-1fa6616805d3",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "d63c8944-1f9a-41d5-a8ac-048fd664f3a1",
      "key": "4fa1b1c2-f7be-4b0b-9ded-f5565686f008",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "80e3190e-df80-4c14-b069-8e58cec83d08",
      "key": "487c0ce4-0f49-4e2c-a041-b5fe585e2477",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "46c521e2-9eab-41f3-8075-1f4ace2f624e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "63460d55-5c60-4dc7-a97e-cc69003288ce",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "de447f19-ffc0-4dc5-8927-778015f0f6aa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fd7c3fa1-0345-4969-9ee1-edcfcfaba738",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "58139228-2623-443f-9610-78d770ec5d56",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "63460d55-5c60-4dc7-a97e-cc69003288ce",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a83e16b6-1bdd-4e3a-83eb-1fa6616805d3",
                "settingsUdi": null
              }
            ],
            "key": "507abf85-3cf4-4f2b-a7f4-550acfc207ca"
          }
        ],
        "columnSpan": 12,
        "contentKey": "46c521e2-9eab-41f3-8075-1f4ace2f624e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f62fa472-d7da-446d-9632-c2d726e40d2b",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "fd7c3fa1-0345-4969-9ee1-edcfcfaba738",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "96c633a6-bdb7-4e7e-b120-37072e1ae9b5"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "58139228-2623-443f-9610-78d770ec5d56",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "487c0ce4-0f49-4e2c-a041-b5fe585e2477",
                "settingsUdi": null
              }
            ],
            "key": "7671b90e-23a1-4058-8d61-ce297b76560d"
          }
        ],
        "columnSpan": 12,
        "contentKey": "de447f19-ffc0-4dc5-8927-778015f0f6aa",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "4fa1b1c2-f7be-4b0b-9ded-f5565686f008",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>