<?xml version="1.0" encoding="utf-8"?>
<Content Key="e91061c5-6aca-4121-bad6-21d414b1862e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-06T13:11:00</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="628a5696-6175-4f40-9525-0a1b6239e641">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "eadafa60-6d20-4153-b9fd-af76549c7593",
      "key": "e95d478b-dd3b-435b-b301-9ef8e862572a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "61d04f73-5c48-426c-ab8f-c5499eb53b8e",
      "key": "35e11f56-9602-4adb-a7c5-4387a6edf8d9",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        }
      ]
    },
    {
      "contentTypeKey": "10a679e4-1549-4451-a9a9-471342a34ff7",
      "key": "fe02f72e-7667-43de-845f-2acf0ebac3e0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c7421218-786b-4ddd-a156-39675aff3a66",
      "key": "845cb6a5-997c-49cc-8311-f3dbc6d2d75c",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "17b56455-dc55-4db0-a78a-4c8ee3b3e9b8",
              "mediaKey": "8ae2a4de-5e24-40f9-8925-5e10c6ecc622",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.413613345248734,
                "left": 0.2928954423592493
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1050x1485"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f616e92d-624f-42a4-853e-9d83342ee183",
      "key": "252a0520-3d8c-4f74-bd8e-9c445e1a6221",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003ELorem Ipsum\u003C/h2\u003E\u003Cp\u003Emore text to come...\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "887f0b06-ea29-4e03-a67d-db6cbc309d57",
      "key": "4fce8616-91e8-41a1-8c12-c68526b6dcee",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0f87941b-0934-44bf-8f91-c2593e75d508",
      "key": "9d75615c-643a-4cf8-9b4b-f983a93fec2c",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "887f0b06-ea29-4e03-a67d-db6cbc309d57",
      "key": "ea84e7cd-dafd-4123-a484-86084e779a41",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f88993f9-1a74-4aad-a779-6c77fc0300f0",
      "key": "8ee92d2d-236b-48f8-a811-668f07207bc0",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e95d478b-dd3b-435b-b301-9ef8e862572a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "35e11f56-9602-4adb-a7c5-4387a6edf8d9",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "fe02f72e-7667-43de-845f-2acf0ebac3e0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "845cb6a5-997c-49cc-8311-f3dbc6d2d75c",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "252a0520-3d8c-4f74-bd8e-9c445e1a6221",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "35e11f56-9602-4adb-a7c5-4387a6edf8d9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9d75615c-643a-4cf8-9b4b-f983a93fec2c",
                "settingsUdi": null
              }
            ],
            "key": "f7dd88f0-999a-4d25-a926-6e167a79334f"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e95d478b-dd3b-435b-b301-9ef8e862572a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "4fce8616-91e8-41a1-8c12-c68526b6dcee",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "845cb6a5-997c-49cc-8311-f3dbc6d2d75c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "fc28f29c-7373-4ea8-99b2-d1040628be36"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "252a0520-3d8c-4f74-bd8e-9c445e1a6221",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "8ee92d2d-236b-48f8-a811-668f07207bc0",
                "settingsUdi": null
              }
            ],
            "key": "b8550072-09e7-4238-83fe-c2ad76dbb81a"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fe02f72e-7667-43de-845f-2acf0ebac3e0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ea84e7cd-dafd-4123-a484-86084e779a41",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>