<?xml version="1.0" encoding="utf-8"?>
<Content Key="43ae5e6e-42ba-4fbe-b823-c43ed74f25b1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-09T20:24:25</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="472a2400-0dbf-49f6-9a33-1eea971d19cd">SimplePage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "065349b8-e16b-4dd0-bb9f-1ae4d5ed4688",
      "key": "86650c6f-a469-46d0-9f0a-96b127eb452c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ca192c91-5df6-4c93-9161-70b8de3e186c",
      "key": "ba1ccb8b-a22b-4446-83ae-b6cba39abba2",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        }
      ]
    },
    {
      "contentTypeKey": "d335239f-ce52-4312-8e3a-70db48dab195",
      "key": "ec66cfae-b72f-4556-8e8e-a21fb4d37f73",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "36075ade-bfea-4b08-890e-0ee93a905712",
      "key": "4827b228-b454-4a0b-bb53-71ed6b4f8094",
      "udi": null,
      "values": [
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0c365d5c-cc7b-42f8-8a8f-b236ca061ab0",
              "mediaKey": "4813b651-7f03-498e-b64c-802a3a74a54d",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.4418402711550395,
                "left": 0.4983023656866412
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1050"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk at Camden Market"
        },
        {
          "alias": "rotation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "4d67aa1b-836b-4407-9c98-a2129b02dcaa",
      "key": "74c241fa-624b-42da-b698-aa41f90c5492",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EMore CSS Variables\u003C/h2\u003E\u003Cp\u003EThis package version has some improvements for the \u003Cstrong\u003E\u003Cem\u003ECropped Picture \u003C/em\u003E\u003C/strong\u003Eelement.\u003C/p\u003E\u003Cp\u003EAnd it brings a lot more CSS variables to customise the available three BlockGrid elements.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E@2025, iDSeefeld.de\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a57e31bd-c409-426e-b0ff-d363930a784f",
      "key": "98c7a858-0a5f-4092-b796-6c792ee3b086",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "950d0f8b-7304-4ef3-a5f7-9e868ab4d18b",
              "mediaKey": "8a499535-a785-4ff3-b6ee-e8ea7ceda7eb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3eed2ab6-efe5-4212-8304-73870d9fb329",
      "key": "4f9c073d-7587-4c5c-b9b0-e2a9acdfe33c",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "a57e31bd-c409-426e-b0ff-d363930a784f",
      "key": "10afc8d2-2179-4977-a7a6-4489b29de791",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3cddc2d7-a781-474b-9511-c40f623f61ba",
              "mediaKey": "15d70c37-04fd-4514-9cac-9dd6fb1bd254",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "37462667-405a-4d48-a560-99068a55b953",
      "key": "ef44a572-06cd-4c65-a0d4-c7a36558de79",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "86650c6f-a469-46d0-9f0a-96b127eb452c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ba1ccb8b-a22b-4446-83ae-b6cba39abba2",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "ec66cfae-b72f-4556-8e8e-a21fb4d37f73",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4827b228-b454-4a0b-bb53-71ed6b4f8094",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "74c241fa-624b-42da-b698-aa41f90c5492",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ba1ccb8b-a22b-4446-83ae-b6cba39abba2",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4f9c073d-7587-4c5c-b9b0-e2a9acdfe33c",
                "settingsUdi": null
              }
            ],
            "key": "55d93309-1ad1-4441-ac0b-fb731a3ce03f"
          }
        ],
        "columnSpan": 12,
        "contentKey": "86650c6f-a469-46d0-9f0a-96b127eb452c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "98c7a858-0a5f-4092-b796-6c792ee3b086",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "74c241fa-624b-42da-b698-aa41f90c5492",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ef44a572-06cd-4c65-a0d4-c7a36558de79",
                "settingsUdi": null
              }
            ],
            "key": "ee4463a6-40d1-48d0-b010-17abd6aaf4a3"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "4827b228-b454-4a0b-bb53-71ed6b4f8094",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "1cc089b9-ae75-45b1-8449-fe2dd80311c6"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ec66cfae-b72f-4556-8e8e-a21fb4d37f73",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "10afc8d2-2179-4977-a7a6-4489b29de791",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>