<?xml version="1.0" encoding="utf-8"?>
<Content Key="33cb1b7c-da33-4d91-92f0-9330b1cd10dc" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>rootPage</ContentType>
    <CreateDate>2025-03-30T11:04:11</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="8416f90f-7741-4b94-947e-460860ee259a">root</Template>
  </Info>
  <Properties>
    <anotherProperty>
      <Value><![CDATA[Is this the first property?]]></Value>
    </anotherProperty>
    <main>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "99dcf6a1-3b43-4fe9-a997-59eccce246c2",
      "key": "429902fa-3f43-40ad-801c-20d5d1761281",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "793d20b4-2f30-4920-84c3-557f5f85411f",
      "key": "7d1a1605-ad49-4a13-8fc7-3fd85dcca42c",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Willkomen"
        }
      ]
    },
    {
      "contentTypeKey": "7cc64771-0f34-4845-a7d9-1e7a2528a512",
      "key": "c909480b-6a09-469e-a2ce-c7335e5d3d88",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
      "key": "55bcad3e-5fc5-4d3c-9945-9da9ce84fa09",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EScotland\u003C/h2\u003E\u003Cp\u003EWe both love Scotland but with our dog it is out of reach.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003ESchottland\u003C/h2\u003E\u003Cp\u003EWir beide lieben Schottland, aber mit unserem Hund ist es unerreichbar.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "4f391422-589d-49c8-bd54-50bdc9c8d3cf",
      "key": "33588dfb-1cb7-4372-8371-0b5bc2fb4434",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EHamburg\u003C/h2\u003E\u003Cp\u003EI live with my wife and dog in Hamburg, Germany.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EHamburg\u003C/h2\u003E\u003Cp\u003EIch lebe mit meiner Frau und Hund in Hamburg.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
      "key": "ad571fe9-72be-48c7-b93a-6212197ea475",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e1fbab4a-6dd5-4c8b-afad-055baea641ed",
              "mediaKey": "b0d5cf72-29f0-49a2-adaa-8d5c980f3078",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.41913860852145773,
                "left": 0.47935240715084854
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1485",
              "cropUrl": "/media/5ucjgbuz/simone-dirk-coco2021-1.jpg?rxy=0.47935240715084854,0.41913860852145773\u0026width=200\u0026height=200\u0026v=1dbaaf4bd689d2a"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Schottland in der N\u00E4he von Loch Ness"
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "My family"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        },
        {
          "alias": "alternativeText",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "My family"
        }
      ]
    },
    {
      "contentTypeKey": "0d018f9f-a815-4359-abc2-e757d958b3af",
      "key": "980befcc-4fca-448e-89cd-dff6d0438b51",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9c36ed56-b7b4-4af5-a315-97124f719231",
              "mediaKey": "055545db-11c9-4f5d-86b8-90ca79ef37ce",
              "mediaTypeAlias": "",
              "focalPoint": null,
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1050",
              "cropUrl": "/media/kshbhm3a/p1010236.jpg?width=200\u0026height=141\u0026v=1dbaae9e0699883"
            }
          ]
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Near Loch Ness"
        },
        {
          "alias": "alternativeText",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Near Loch Ness"
        },
        {
          "alias": "figCaption",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Nahe Loch Ness"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "dfd0c542-1066-4ccc-9e61-6ec389826651",
      "key": "e9da6fa2-80f3-49a6-9a47-6d30edbadad0",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Transparent",
            "value": "#fff"
          }
        },
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "04b8ea0f-5399-44dc-a0dc-430a59b4b84d",
              "mediaKey": "055545db-11c9-4f5d-86b8-90ca79ef37ce",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "5a9ad4ea-4234-48b7-a0cc-b7dd81b67b19",
      "key": "c1def5d6-54bb-4235-aad5-0ef7a04719f4",
      "udi": null,
      "values": [
        {
          "alias": "margin",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Black",
            "value": "#000"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "dfd0c542-1066-4ccc-9e61-6ec389826651",
      "key": "e93b73c9-e134-43d7-8420-5fd899fe0bf7",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Transparent",
            "value": "#fff"
          }
        },
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b24a2af7-4ce7-4284-9895-23e881ced7d7",
      "key": "e752d4b4-601e-47bd-a58d-febdc9561937",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b24a2af7-4ce7-4284-9895-23e881ced7d7",
      "key": "42774bd5-3330-4ccd-9e87-4b6366ec67f2",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "429902fa-3f43-40ad-801c-20d5d1761281",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7d1a1605-ad49-4a13-8fc7-3fd85dcca42c",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "c909480b-6a09-469e-a2ce-c7335e5d3d88",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55bcad3e-5fc5-4d3c-9945-9da9ce84fa09",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "7d1a1605-ad49-4a13-8fc7-3fd85dcca42c",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "15cdc613-5317-4368-b3b9-ee4515b363b4",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "55bcad3e-5fc5-4d3c-9945-9da9ce84fa09",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "ea179660-7432-4278-aa41-54af3ec2f0be",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "a5237c79-83e6-4bc6-8965-9c94b97dc9bb",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "156dc964-120b-4cc9-8242-6c99b93ecbdd",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "33588dfb-1cb7-4372-8371-0b5bc2fb4434",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "ad571fe9-72be-48c7-b93a-6212197ea475",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "980befcc-4fca-448e-89cd-dff6d0438b51",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "ad571fe9-72be-48c7-b93a-6212197ea475",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "980befcc-4fca-448e-89cd-dff6d0438b51",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "33588dfb-1cb7-4372-8371-0b5bc2fb4434",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7d1a1605-ad49-4a13-8fc7-3fd85dcca42c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c1def5d6-54bb-4235-aad5-0ef7a04719f4",
                "settingsUdi": null
              }
            ],
            "key": "2ec732e8-1597-4df0-a155-fedec16580aa"
          }
        ],
        "columnSpan": 12,
        "contentKey": "429902fa-3f43-40ad-801c-20d5d1761281",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e9da6fa2-80f3-49a6-9a47-6d30edbadad0",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "ad571fe9-72be-48c7-b93a-6212197ea475",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "33588dfb-1cb7-4372-8371-0b5bc2fb4434",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "42774bd5-3330-4ccd-9e87-4b6366ec67f2",
                "settingsUdi": null
              }
            ],
            "key": "216a6253-145e-4dcd-b298-8e6081a2e77c"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "55bcad3e-5fc5-4d3c-9945-9da9ce84fa09",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e752d4b4-601e-47bd-a58d-febdc9561937",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "980befcc-4fca-448e-89cd-dff6d0438b51",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "aff4f809-d580-4ba4-8103-5cb38e7c1f59"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c909480b-6a09-469e-a2ce-c7335e5d3d88",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e93b73c9-e134-43d7-8420-5fd899fe0bf7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </main>
    <metaTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Home]]></Value>
    </metaTitle>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#e5cf61"
}]]></Value>
    </pageBackgroundColor>
    <siteName>
      <Value Culture="de-DE"><![CDATA[WYSIWG]]></Value>
      <Value Culture="en-US"><![CDATA[WYSIWG]]></Value>
    </siteName>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>