<?xml version="1.0" encoding="utf-8"?>
<Content Key="33cb1b7c-da33-4d91-92f0-9330b1cd10dc" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>rootPage</ContentType>
    <CreateDate>2025-03-30T11:04:11</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-DE">Start (1)</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="8416f90f-7741-4b94-947e-460860ee259a">root</Template>
  </Info>
  <Properties>
    <anotherProperty>
      <Value><![CDATA[Is this the first property?]]></Value>
    </anotherProperty>
    <main>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa0df469-d2d4-449b-8fd7-7c8ccf21b22d",
      "key": "0ac0b236-5782-480c-b852-9a88eff21428",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "3914ab5c-c93d-496c-bb3c-39e1a4127ca8",
      "key": "66d6850d-f26d-48ad-b536-921888016bf6",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        }
      ]
    },
    {
      "contentTypeKey": "bc579e8f-589e-4cea-b4b9-dcf03a494e15",
      "key": "69ee961d-3124-45bd-91f3-7d1e239f73d9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "859d83d0-eb19-445e-8021-2214ef9a9603",
      "key": "30b98bde-db0f-4933-b001-78e221c5bb8a",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7e903dd0-7299-4572-adde-65fcb9862193",
              "mediaKey": "39c1771a-f76b-4277-aa06-6f4f4f5157a8",
              "mediaTypeAlias": "",
              "focalPoint": null,
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1050x1485",
              "cropUrl": "/media/sw4jpdyc/profil-dirk-seefeld-2017.jpg?width=200\u0026height=283\u0026v=1dbbadd1ee1b3b6"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "30bdc174-4723-4215-80fd-13c9f003d2e1",
      "key": "f571f809-1898-4fc3-b8a3-b1a86dc378fa",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003ELorem Ipsum\u003C/h2\u003E\u003Cp\u003Emore text\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b5203e61-9a28-4ca5-874d-b86f3294704f",
      "key": "a7aff393-f77f-496a-8024-be3c97bc428b",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "58b2b575-32aa-4984-b6c4-a4262e29e675",
      "key": "8c542aac-db8c-4a63-9436-7727c3dde030",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "b5203e61-9a28-4ca5-874d-b86f3294704f",
      "key": "d524d357-60dc-498e-bf8d-d9032e70477e",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "88811da6-8c36-47f9-b866-03c01cd6f0fe",
      "key": "2f71e3e9-930b-41cb-9987-6aee35d11752",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0ac0b236-5782-480c-b852-9a88eff21428",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "66d6850d-f26d-48ad-b536-921888016bf6",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "69ee961d-3124-45bd-91f3-7d1e239f73d9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "30b98bde-db0f-4933-b001-78e221c5bb8a",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "f571f809-1898-4fc3-b8a3-b1a86dc378fa",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "66d6850d-f26d-48ad-b536-921888016bf6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "8c542aac-db8c-4a63-9436-7727c3dde030",
                "settingsUdi": null
              }
            ],
            "key": "892b2269-e347-4f94-8eda-bb763e8fca1a"
          }
        ],
        "columnSpan": 12,
        "contentKey": "0ac0b236-5782-480c-b852-9a88eff21428",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a7aff393-f77f-496a-8024-be3c97bc428b",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "30b98bde-db0f-4933-b001-78e221c5bb8a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "926dd5f8-53d0-4151-88e9-efc73e2a64f2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "f571f809-1898-4fc3-b8a3-b1a86dc378fa",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2f71e3e9-930b-41cb-9987-6aee35d11752",
                "settingsUdi": null
              }
            ],
            "key": "cbba39a1-e8f0-44a4-9fb1-724902420ad8"
          }
        ],
        "columnSpan": 12,
        "contentKey": "69ee961d-3124-45bd-91f3-7d1e239f73d9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d524d357-60dc-498e-bf8d-d9032e70477e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </main>
    <metaTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Home]]></Value>
    </metaTitle>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "Sand",
  "value": "#e5cf61"
}]]></Value>
    </pageBackgroundColor>
    <siteName>
      <Value Culture="de-DE"><![CDATA[WYSIWG]]></Value>
      <Value Culture="en-US"><![CDATA[WYSIWG]]></Value>
    </siteName>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>