<?xml version="1.0" encoding="utf-8"?>
<Content Key="33cb1b7c-da33-4d91-92f0-9330b1cd10dc" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>rootPage</ContentType>
    <CreateDate>2025-03-30T11:04:11</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-DE">Start (1)</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="8416f90f-7741-4b94-947e-460860ee259a">root</Template>
  </Info>
  <Properties>
    <anotherProperty>
      <Value><![CDATA[Is this the first property?]]></Value>
    </anotherProperty>
    <main>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a1795e5f-4102-43fd-b067-9bf80728ef5e",
      "key": "60daa344-a580-49d8-be0d-f9d52e6f2fe7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "93b37bcb-a35e-4fb7-bf05-b4dfc8111f9f",
      "key": "f175926e-0af9-46d4-8d2f-8cea8107f708",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        }
      ]
    },
    {
      "contentTypeKey": "85344f72-5789-49c6-85e3-719deb71e335",
      "key": "3d403303-c116-4c6f-8e8e-a79b09215b89",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f07da662-00dd-4545-97b5-e14d89418e71",
      "key": "5ee49d10-7045-404b-ae9f-d0ae1fd30eae",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "34aa3248-dbd1-4c5e-8f73-249b20dd050e",
              "mediaKey": "b0d5cf72-29f0-49a2-adaa-8d5c980f3078",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.4224203022294036,
                "left": 0.7238322188816708
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "",
              "cropUrl": "/media/5ucjgbuz/simone-dirk-coco2021-1.jpg?rxy=0.7238322188816708,0.4224203022294036\u0026width=200\u0026v=1dbb399f6ac5fe2"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "My Family"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4545a90d-4f69-44c1-9fe9-468b788dfa79",
      "key": "f5dd2ec5-2c2f-4ad0-9254-35658c5bc3de",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003E\u003Cem\u003EMy Family\u003C/em\u003E\u003C/h2\u003E\u003Cp\u003EWe three live in Hamburg, Northern Germany.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "f07da662-00dd-4545-97b5-e14d89418e71",
      "key": "d5dda34a-fa39-4604-9a80-a9bd631112fd",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e7ce7839-0267-4011-ad06-f0a92f38089e",
              "mediaKey": "055545db-11c9-4f5d-86b8-90ca79ef37ce",
              "mediaTypeAlias": "",
              "focalPoint": null,
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1050",
              "cropUrl": "/media/kshbhm3a/p1010236.jpg?width=200\u0026height=141\u0026v=1dbb399f6a8b55d"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "4545a90d-4f69-44c1-9fe9-468b788dfa79",
      "key": "28c0c3b7-04f0-47f3-9a6d-f96f689a3462",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch3\u003EHamburg\u003C/h3\u003E\u003Cp\u003EI live with my wife and dog in Hamburg, Northern Germany.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "963d599b-6f39-4dde-9ac7-b15e2e8ae4aa",
      "key": "5c76c802-0c45-47f9-95db-ee14d3fcaf18",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f07da662-00dd-4545-97b5-e14d89418e71",
      "key": "b76d843d-3aab-4aff-af90-86d41c3b9e01",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b31dc03d-44e3-412e-8105-460241173be6",
              "mediaKey": "39c1771a-f76b-4277-aa06-6f4f4f5157a8",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.4530956848030019,
                "left": 0.524859287054409
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1050x1485",
              "cropUrl": "/media/sw4jpdyc/profil-dirk-seefeld-2017.jpg?rxy=0.524859287054409,0.4530956848030019\u0026width=200\u0026height=283\u0026v=1dbb5f922e3080d"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f07da662-00dd-4545-97b5-e14d89418e71",
      "key": "3f025006-c439-4f54-afbe-5f2a3d5e2531",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d942d1b8-9420-4f14-ba95-1eb773de1539",
              "mediaKey": "b0d5cf72-29f0-49a2-adaa-8d5c980f3078",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.4334022250560661,
                "left": 0.8278821572048858
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1485",
              "cropUrl": "/media/5ucjgbuz/simone-dirk-coco2021-1.jpg?rxy=0.8278821572048858,0.4334022250560661\u0026width=200\u0026height=200\u0026v=1dbb399f6ac5fe2"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Simone, Dirk and Coco"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4545a90d-4f69-44c1-9fe9-468b788dfa79",
      "key": "c207ecc2-f7f8-44f4-bfbd-936a37fd90c8",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EMy Family\u003C/h2\u003E\u003Cp\u003EMy wife \u003Cstrong\u003E\u003Cem\u003ESimone \u003C/em\u003E\u003C/strong\u003Eand our doggy \u003Cstrong\u003E\u003Cem\u003ECoco\u003C/em\u003E\u003C/strong\u003E.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "84e1c213-25cb-4b09-82a8-f555769729f5",
      "key": "2d440b23-d513-409b-ba35-a193882344bb",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e9b877d0-265c-45ed-875f-799cd2d6efa4",
              "mediaKey": "055545db-11c9-4f5d-86b8-90ca79ef37ce",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b2ca7714-609e-4f59-884f-a1a1e25bed1c",
      "key": "54c4cba2-638a-499e-845f-90265afc6884",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "84e1c213-25cb-4b09-82a8-f555769729f5",
      "key": "9ef9ec8a-61e0-424f-95fe-319ec3268713",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2dc732d4-7bed-49eb-a9e7-79c1f101251e",
              "mediaKey": "c8fdaab0-69b2-4ce8-b427-0248c680101d",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Transparent",
            "value": "#fff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0a756c4e-17d3-4bd4-9be4-a6f9889a921b",
      "key": "00640355-1f28-4569-9b62-ea9586447cb2",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0a756c4e-17d3-4bd4-9be4-a6f9889a921b",
      "key": "d4310ec3-4b17-40d9-b3b5-08b4d9d300de",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Black",
            "value": "#000"
          }
        }
      ]
    },
    {
      "contentTypeKey": "84e1c213-25cb-4b09-82a8-f555769729f5",
      "key": "5e723fab-c636-42a1-8906-b753caa75f47",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Transparent",
            "value": "#fff"
          }
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "0a756c4e-17d3-4bd4-9be4-a6f9889a921b",
      "key": "76b99fae-4a26-4954-9099-6a1c0abd183b",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Black",
            "value": "#000"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "60daa344-a580-49d8-be0d-f9d52e6f2fe7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f175926e-0af9-46d4-8d2f-8cea8107f708",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "3d403303-c116-4c6f-8e8e-a79b09215b89",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5ee49d10-7045-404b-ae9f-d0ae1fd30eae",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "f5dd2ec5-2c2f-4ad0-9254-35658c5bc3de",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "d5dda34a-fa39-4604-9a80-a9bd631112fd",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "28c0c3b7-04f0-47f3-9a6d-f96f689a3462",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "5c76c802-0c45-47f9-95db-ee14d3fcaf18",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b76d843d-3aab-4aff-af90-86d41c3b9e01",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "3f025006-c439-4f54-afbe-5f2a3d5e2531",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "c207ecc2-f7f8-44f4-bfbd-936a37fd90c8",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "f175926e-0af9-46d4-8d2f-8cea8107f708",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "54c4cba2-638a-499e-845f-90265afc6884",
                "settingsUdi": null
              }
            ],
            "key": "9a4bbc2f-1b48-4db3-a9ab-486f88db06f4"
          }
        ],
        "columnSpan": 12,
        "contentKey": "60daa344-a580-49d8-be0d-f9d52e6f2fe7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2d440b23-d513-409b-ba35-a193882344bb",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "5ee49d10-7045-404b-ae9f-d0ae1fd30eae",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "28c0c3b7-04f0-47f3-9a6d-f96f689a3462",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d4310ec3-4b17-40d9-b3b5-08b4d9d300de",
                "settingsUdi": null
              }
            ],
            "key": "c154913c-42be-46f5-a5c7-580461efa0ed"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "f5dd2ec5-2c2f-4ad0-9254-35658c5bc3de",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "00640355-1f28-4569-9b62-ea9586447cb2",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "d5dda34a-fa39-4604-9a80-a9bd631112fd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "77c5b1fc-3eaa-44d8-8048-a91d2af2a5cb"
          }
        ],
        "columnSpan": 12,
        "contentKey": "3d403303-c116-4c6f-8e8e-a79b09215b89",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "9ef9ec8a-61e0-424f-95fe-319ec3268713",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b76d843d-3aab-4aff-af90-86d41c3b9e01",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d8d93bfc-48a3-4542-8d4c-2a6ab960888b"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "3f025006-c439-4f54-afbe-5f2a3d5e2531",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "c207ecc2-f7f8-44f4-bfbd-936a37fd90c8",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "76b99fae-4a26-4954-9099-6a1c0abd183b",
                "settingsUdi": null
              }
            ],
            "key": "8dabd423-1dca-4f01-a28c-bdfc449a95ab"
          }
        ],
        "columnSpan": 12,
        "contentKey": "5c76c802-0c45-47f9-95db-ee14d3fcaf18",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5e723fab-c636-42a1-8906-b753caa75f47",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </main>
    <metaTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[Home]]></Value>
    </metaTitle>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "Sand",
  "value": "#e5cf61"
}]]></Value>
    </pageBackgroundColor>
    <siteName>
      <Value Culture="de-DE"><![CDATA[WYSIWG]]></Value>
      <Value Culture="en-US"><![CDATA[WYSIWG]]></Value>
    </siteName>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>