<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f2aed18-b965-4805-8ab7-d5440cc7ba93" Alias="Imprint" Level="2">
  <Info>
    <Parent Key="33cb1b7c-da33-4d91-92f0-9330b1cd10dc">Home</Parent>
    <Path>/Home/Imprint</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-03-30T11:06:00</CreateDate>
    <NodeName Default="Imprint">
      <Name Culture="de-DE">Impressum</Name>
      <Name Culture="en-US">Imprint</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="75ea115b-ee95-4500-b18b-ffaf091ab842">standardPage</Template>
  </Info>
  <Properties>
    <main>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </main>
    <metaTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[The Imprint]]></Value>
    </metaTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>