<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f2aed18-b965-4805-8ab7-d5440cc7ba93" Alias="Imprint" Level="2">
  <Info>
    <Parent Key="33cb1b7c-da33-4d91-92f0-9330b1cd10dc">Home</Parent>
    <Path>/Home/Imprint</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-03-30T11:06:00</CreateDate>
    <NodeName Default="Imprint">
      <Name Culture="de-DE">Impressum</Name>
      <Name Culture="en-US">Imprint</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="75ea115b-ee95-4500-b18b-ffaf091ab842">standardPage</Template>
  </Info>
  <Properties>
    <main>
      <Value Culture="de-DE"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "70b44af5-7250-4c46-a2cc-f00898cb3c8e",
      "key": "ce2c0936-b9b8-420c-95bc-ef7547fbe1e9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ff966de0-ad21-4e85-ab11-942a424fbde1",
      "key": "dc91e88b-4b61-4edf-b253-cd18dd197b10",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Imprint"
        },
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Impressum"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e2dbe9bc-b8e1-43fe-852d-ac2c27fc930c",
      "key": "01615156-c43f-4006-b65f-eef020e44292",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "00890065-26da-4d50-962c-98e502edcd06",
      "key": "227fd68d-81aa-4b1e-a9d8-a3b814e74335",
      "udi": null,
      "values": [
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ce2c0936-b9b8-420c-95bc-ef7547fbe1e9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dc91e88b-4b61-4edf-b253-cd18dd197b10",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "dc91e88b-4b61-4edf-b253-cd18dd197b10",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "227fd68d-81aa-4b1e-a9d8-a3b814e74335",
                "settingsUdi": null
              }
            ],
            "key": "6ade91d1-a69d-4071-912e-c27259af568f"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ce2c0936-b9b8-420c-95bc-ef7547fbe1e9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "01615156-c43f-4006-b65f-eef020e44292",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "70b44af5-7250-4c46-a2cc-f00898cb3c8e",
      "key": "f0b4dfe5-2764-4925-9854-93518e71832c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ff966de0-ad21-4e85-ab11-942a424fbde1",
      "key": "a1ed74bd-2cd9-4596-916a-9bd119c8f750",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Imprint"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e2dbe9bc-b8e1-43fe-852d-ac2c27fc930c",
      "key": "e4cf8114-3cbd-4613-9a18-ab7dacdf1144",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "00890065-26da-4d50-962c-98e502edcd06",
      "key": "8f0c9770-9197-4536-9b38-42617fbeaeba",
      "udi": null,
      "values": [
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f0b4dfe5-2764-4925-9854-93518e71832c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1ed74bd-2cd9-4596-916a-9bd119c8f750",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a1ed74bd-2cd9-4596-916a-9bd119c8f750",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "8f0c9770-9197-4536-9b38-42617fbeaeba",
                "settingsUdi": null
              }
            ],
            "key": "6ade91d1-a69d-4071-912e-c27259af568f"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f0b4dfe5-2764-4925-9854-93518e71832c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e4cf8114-3cbd-4613-9a18-ab7dacdf1144",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </main>
    <metaTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[The Imprint]]></Value>
    </metaTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>