<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f2aed18-b965-4805-8ab7-d5440cc7ba93" Alias="Imprint" Level="2">
  <Info>
    <Parent Key="33cb1b7c-da33-4d91-92f0-9330b1cd10dc">Home</Parent>
    <Path>/Home/Imprint</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-03-30T11:06:00</CreateDate>
    <NodeName Default="Imprint">
      <Name Culture="de-DE">Impressum</Name>
      <Name Culture="en-US">Imprint</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="75ea115b-ee95-4500-b18b-ffaf091ab842">standardPage</Template>
  </Info>
  <Properties>
    <main>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7cc64771-0f34-4845-a7d9-1e7a2528a512",
      "key": "fd05ff48-b3fc-44ea-ba38-0dc2903374ff",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
      "key": "f02a8ff3-71e5-4c0b-b38f-45c75d1d1db6",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5e9a698f-1de8-410c-bf2e-5cbed2147f48",
              "mediaKey": "055545db-11c9-4f5d-86b8-90ca79ef37ce",
              "mediaTypeAlias": "",
              "focalPoint": null,
              "crops": [
                {
                  "label": "Square",
                  "alias": "square",
                  "width": 1485,
                  "height": 1485,
                  "defaultCrop": true,
                  "coordinates": {
                    "x1": 0.43912913898035677,
                    "x2": 0.09212086949423715,
                    "y1": 0.2707345974063071,
                    "y2": 0.10426539506072027
                  }
                },
                {
                  "label": "Portrait",
                  "alias": "portrait",
                  "width": 1050,
                  "height": 1485,
                  "defaultCrop": false,
                  "coordinates": {
                    "x1": 0.3831901821479978,
                    "x2": 0.08650767068727322,
                    "y1": 0,
                    "y2": 0
                  }
                },
                {
                  "label": "Landscape",
                  "alias": "landscape",
                  "width": 1485,
                  "height": 1050,
                  "defaultCrop": false,
                  "coordinates": {
                    "x1": 0,
                    "x2": 0,
                    "y1": 0.057229022036653004,
                    "y2": 1.1362988673281987e-8
                  }
                },
                {
                  "label": "Wide",
                  "alias": "wide",
                  "width": 1485,
                  "height": 535,
                  "defaultCrop": false,
                  "coordinates": {
                    "x1": 0,
                    "x2": 0,
                    "y1": 0.5064029311770138,
                    "y2": 0.013250699450865905
                  }
                }
              ],
              "selectedCropAlias": "wide"
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Scotland near Loch Ness"
        },
        {
          "alias": "alternativeText",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Scotland"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#185ecd"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e6b7c8ba-7312-4d1a-93dc-58f77bfec3e8",
      "key": "86e5eae5-1075-451e-836e-efcfab004198",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "29370c87-4ca7-46e4-9a81-d74248445bb3",
              "mediaKey": "b0d5cf72-29f0-49a2-adaa-8d5c980f3078",
              "mediaTypeAlias": "",
              "focalPoint": null,
              "crops": [],
              "selectedCropAlias": ""
            }
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "My Family"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#185ecd"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "dfd0c542-1066-4ccc-9e61-6ec389826651",
      "key": "71de9109-796d-44d9-b3aa-d57623814a7d",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "fd05ff48-b3fc-44ea-ba38-0dc2903374ff",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f02a8ff3-71e5-4c0b-b38f-45c75d1d1db6",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "86e5eae5-1075-451e-836e-efcfab004198",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "86e5eae5-1075-451e-836e-efcfab004198",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "216a6253-145e-4dcd-b298-8e6081a2e77c"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "f02a8ff3-71e5-4c0b-b38f-45c75d1d1db6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "aff4f809-d580-4ba4-8103-5cb38e7c1f59"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fd05ff48-b3fc-44ea-ba38-0dc2903374ff",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "71de9109-796d-44d9-b3aa-d57623814a7d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </main>
    <metaTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[The Imprint]]></Value>
    </metaTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>