<?xml version="1.0" encoding="utf-8"?>
<Content Key="9320527b-9571-45c9-a9a5-1092c2dfdfa7" Alias="leer" Level="2">
  <Info>
    <Parent Key="e91061c5-6aca-4121-bad6-21d414b1862e">Home</Parent>
    <Path>/Home/leer</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-06T14:40:56</CreateDate>
    <NodeName Default="leer">
      <Name Culture="en-US">leer</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="628a5696-6175-4f40-9525-0a1b6239e641">SimplePage</Template>
  </Info>
  <Properties>
    <main>
      <Value><![CDATA[null]]></Value>
    </main>
  </Properties>
</Content>