<?xml version="1.0" encoding="utf-8"?>
<Content Key="84601534-6b98-4d31-92d2-9b331f45ad3f" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>rootPage</ContentType>
    <CreateDate>2025-03-21T15:00:55</CreateDate>
    <NodeName Default="Start">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="8416f90f-7741-4b94-947e-460860ee259a">root</Template>
  </Info>
  <Properties>
    <main>
      <Value Culture="de-DE"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b4a130fb-c4fe-4596-9e21-cef75db362e3",
      "key": "726e8ffa-ac53-42d9-b51f-cfdb6a9dc04a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a",
      "key": "8f3d28d3-ad37-4e5b-abdb-5909fcf19de0",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b6e9d687-f479-4a0b-ba5e-f43838b1b904",
              "mediaKey": "39c1771a-f76b-4277-aa06-6f4f4f5157a8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cropAlias",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Portrait"
          ]
        },
        {
          "alias": "figCaption",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk in London, GB"
        },
        {
          "alias": "alternativeText",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk"
        }
      ]
    },
    {
      "contentTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25",
      "key": "6c63b840-3f32-4a97-afea-65c8c5bdfb40",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consetetur \u003Cbr\u003Esadipscing elitr, sed diam \u003Cbr\u003Enonumy eirmod \u003Cbr\u003Etempor.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25",
      "key": "cfbab243-8e94-4166-a3e0-5da6e7c47865",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e16451bf-3534-4c8a-8292-4afaa580d538",
      "key": "d6019eeb-afc2-4219-9668-56cd53f879dc",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "af8f49c2-6d28-4a60-9145-17ec4e086813",
              "mediaKey": "39c1771a-f76b-4277-aa06-6f4f4f5157a8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "431164e1-20da-4285-b81a-c23ca53216f3",
      "key": "a33beb2d-08c9-4a6b-864a-410a546235db",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Black",
            "value": "#000"
          }
        }
      ]
    },
    {
      "contentTypeKey": "431164e1-20da-4285-b81a-c23ca53216f3",
      "key": "5b57985b-073f-45a3-a488-f12cd73a9be5",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "cb970d1c-7cec-401f-8979-7b5583a9c509",
      "key": "3dd5a2a0-0a99-46de-a47e-b195fdda5063",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "726e8ffa-ac53-42d9-b51f-cfdb6a9dc04a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8f3d28d3-ad37-4e5b-abdb-5909fcf19de0",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "6c63b840-3f32-4a97-afea-65c8c5bdfb40",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "cfbab243-8e94-4166-a3e0-5da6e7c47865",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "8f3d28d3-ad37-4e5b-abdb-5909fcf19de0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3dd5a2a0-0a99-46de-a47e-b195fdda5063",
                "settingsUdi": null
              }
            ],
            "key": "800996d4-db9d-4983-804f-fc426cd42740"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "6c63b840-3f32-4a97-afea-65c8c5bdfb40",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a33beb2d-08c9-4a6b-864a-410a546235db",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "cfbab243-8e94-4166-a3e0-5da6e7c47865",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5b57985b-073f-45a3-a488-f12cd73a9be5",
                "settingsUdi": null
              }
            ],
            "key": "9ab64b99-31e4-4874-a531-e529913f879c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "726e8ffa-ac53-42d9-b51f-cfdb6a9dc04a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d6019eeb-afc2-4219-9668-56cd53f879dc",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b4a130fb-c4fe-4596-9e21-cef75db362e3",
      "key": "1e121d6b-0e06-4ef2-a0cf-1e8d80d2c86a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "855b4b0d-90d2-4fa9-8d6c-59ef5a1c405a",
      "key": "1e4e5870-797f-4cf6-a48d-aac2fe5eb6d2",
      "udi": null,
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e769a6bc-b1d3-4973-b95e-af9e710513c1",
              "mediaKey": "39c1771a-f76b-4277-aa06-6f4f4f5157a8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cropAlias",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Portrait"
          ]
        },
        {
          "alias": "figCaption",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk in London, UK"
        },
        {
          "alias": "alternativeText",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Dirk"
        },
        {
          "alias": "captionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Black",
            "value": "#000"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25",
      "key": "7512e092-8814-49e4-bc9c-0a04ec282dfc",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003EFirst Paragraph\u003C/h2\u003E\u003Cp\u003ELorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "c7c7e10e-0436-49c1-997c-a26260d61b25",
      "key": "9e4d4c42-8829-413b-bc1e-6ade4c974b4b",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2\u003ESecond Paragraph\u003C/h2\u003E\u003Cp\u003ELorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "fe5fe741-fc9a-4902-a935-abb7a95a54cf",
      "key": "4afe7a1b-24d3-4403-945f-02ce7de4cf52",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1bb78a3d-9fd6-428e-949f-e44a7c7aed55",
      "key": "ae890582-5592-44fb-bf97-016055629fdd",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Third"
        }
      ]
    },
    {
      "contentTypeKey": "1bb78a3d-9fd6-428e-949f-e44a7c7aed55",
      "key": "bb662054-cd77-4e68-844b-00f70d798d24",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        }
      ]
    },
    {
      "contentTypeKey": "1bb78a3d-9fd6-428e-949f-e44a7c7aed55",
      "key": "70d67237-2814-49b9-a0f4-a9c0ea3fa907",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Second"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e16451bf-3534-4c8a-8292-4afaa580d538",
      "key": "24ae2aa0-d021-4398-9d30-1a2800a3a91e",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Yellow",
            "value": "#fee648"
          }
        }
      ]
    },
    {
      "contentTypeKey": "431164e1-20da-4285-b81a-c23ca53216f3",
      "key": "90a54898-aa67-414d-bf1e-602269c99a3e",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "431164e1-20da-4285-b81a-c23ca53216f3",
      "key": "50f6e85a-9df7-4028-a206-dea57093e914",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Black",
            "value": "#000"
          }
        }
      ]
    },
    {
      "contentTypeKey": "cb970d1c-7cec-401f-8979-7b5583a9c509",
      "key": "86e9968f-9fa9-4881-ba7d-45823d2726e8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "e16451bf-3534-4c8a-8292-4afaa580d538",
      "key": "62d09c54-db25-4eb2-a06f-358c7c956030",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "23d8f241-7daf-4cc2-8a5d-16f03fee54be",
              "mediaKey": "055545db-11c9-4f5d-86b8-90ca79ef37ce",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ef8ba6fa-46ef-4cd9-8770-bc2123a11b5d",
      "key": "0522c8d4-6dc4-418e-a204-e81be35faefd",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Black",
            "value": "#000"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "H3"
        },
        {
          "alias": "margin",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0 10px 0"
        }
      ]
    },
    {
      "contentTypeKey": "ef8ba6fa-46ef-4cd9-8770-bc2123a11b5d",
      "key": "286fae6d-ffb3-470f-85bb-5ffa9029bb47",
      "udi": null,
      "values": [
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "H1"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        },
        {
          "alias": "margin",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "20px 10px 0"
        }
      ]
    },
    {
      "contentTypeKey": "ef8ba6fa-46ef-4cd9-8770-bc2123a11b5d",
      "key": "46cf7acf-5724-413e-9f23-94f7aca6ae94",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Blue",
            "value": "#5c9aff"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "H2"
        },
        {
          "alias": "margin",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0 10px 0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1e121d6b-0e06-4ef2-a0cf-1e8d80d2c86a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1e4e5870-797f-4cf6-a48d-aac2fe5eb6d2",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "1e4e5870-797f-4cf6-a48d-aac2fe5eb6d2",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "7512e092-8814-49e4-bc9c-0a04ec282dfc",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "7512e092-8814-49e4-bc9c-0a04ec282dfc",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "9e4d4c42-8829-413b-bc1e-6ade4c974b4b",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "9e4d4c42-8829-413b-bc1e-6ade4c974b4b",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "4afe7a1b-24d3-4403-945f-02ce7de4cf52",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ae890582-5592-44fb-bf97-016055629fdd",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "ae890582-5592-44fb-bf97-016055629fdd",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "bb662054-cd77-4e68-844b-00f70d798d24",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "bb662054-cd77-4e68-844b-00f70d798d24",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "70d67237-2814-49b9-a0f4-a9c0ea3fa907",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "70d67237-2814-49b9-a0f4-a9c0ea3fa907",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "bb662054-cd77-4e68-844b-00f70d798d24",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "286fae6d-ffb3-470f-85bb-5ffa9029bb47",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "70d67237-2814-49b9-a0f4-a9c0ea3fa907",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "46cf7acf-5724-413e-9f23-94f7aca6ae94",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ae890582-5592-44fb-bf97-016055629fdd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "0522c8d4-6dc4-418e-a204-e81be35faefd",
                "settingsUdi": null
              }
            ],
            "key": "a4fe2938-8733-417e-81ef-73f8a182fbd3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4afe7a1b-24d3-4403-945f-02ce7de4cf52",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "62d09c54-db25-4eb2-a06f-358c7c956030",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "1e4e5870-797f-4cf6-a48d-aac2fe5eb6d2",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "86e9968f-9fa9-4881-ba7d-45823d2726e8",
                "settingsUdi": null
              }
            ],
            "key": "800996d4-db9d-4983-804f-fc426cd42740"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "7512e092-8814-49e4-bc9c-0a04ec282dfc",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "90a54898-aa67-414d-bf1e-602269c99a3e",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "9e4d4c42-8829-413b-bc1e-6ade4c974b4b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "50f6e85a-9df7-4028-a206-dea57093e914",
                "settingsUdi": null
              }
            ],
            "key": "9ab64b99-31e4-4874-a531-e529913f879c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1e121d6b-0e06-4ef2-a0cf-1e8d80d2c86a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "24ae2aa0-d021-4398-9d30-1a2800a3a91e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </main>
    <metaTitle>
      <Value Culture="de-DE"><![CDATA[Startseite]]></Value>
      <Value Culture="en-US"><![CDATA[Homepage]]></Value>
    </metaTitle>
    <siteName>
      <Value Culture="de-DE"><![CDATA[WYSIWG]]></Value>
      <Value Culture="en-US"><![CDATA[WYSIWG]]></Value>
    </siteName>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>