<?xml version="1.0" encoding="utf-8"?>
<Content Key="543a954c-874b-4879-9fc2-673c752f61b5" Alias="test" Level="2">
  <Info>
    <Parent Key="e91061c5-6aca-4121-bad6-21d414b1862e">Home</Parent>
    <Path>/Home/test</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-05-06T14:34:11</CreateDate>
    <NodeName Default="test">
      <Name Culture="en-US">test</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="628a5696-6175-4f40-9525-0a1b6239e641">SimplePage</Template>
  </Info>
  <Properties>
    <main>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0f19e124-2d28-4a54-84bf-4a8f8bef55da",
      "key": "ceb8574a-90c8-4d81-a8af-e604dd2f4e18",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ceb8574a-90c8-4d81-a8af-e604dd2f4e18",
      "culture": "en-US",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "ceb8574a-90c8-4d81-a8af-e604dd2f4e18",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </main>
  </Properties>
</Content>