<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5990c495-474e-47f5-b06a-621e8e4a3648" Alias="simpleRootPage" Level="1">
  <Info>
    <Name>Simple Root Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>simpleRootPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aeeb58d7-11e2-4465-bd11-d327b4609436">simpleRootPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2472dfe3-a895-4f15-9caf-46721ddd15ba" SortOrder="0">simplePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a454bd5d-ba07-4f66-9cc3-f96f93773003</Key>
      <Name>Site Background Color</Name>
      <Alias>siteBackgroundColor</Alias>
      <Definition>0225af17-b302-49cb-9176-b9f35cab9c17</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe007995-3396-4b9f-badc-4cecdfec5d77</Key>
      <Name>Umbraco Redirect</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>17e7754f-c69e-48aa-9192-cc9d20e1f7b6</Key>
      <Caption>Site Settings</Caption>
      <Alias>siteSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e26ce040-11a6-4f56-b501-99afbd1906db</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>