@model BlockGridItem
@{
    var content = Model.Content as Paragraph;
    if (content?.Text == null) return;

    var settings = Model.Settings as ParagraphSettings;
    var inlineStyles = string.IsNullOrEmpty(settings?.Color?.Color) ? string.Empty : $"color: {settings?.Color?.Color};";
}
<div style="@inlineStyles">
    @content.Text.GetHtml()
</div>
