<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e9ea7d6-a2f6-4ba2-b517-f6911e223f95" Alias="wysiwg65_HeadlineSizes" Level="2">
  <Info>
    <Name>wysiwg65_HeadlineSizes</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h1",
    "h2",
    "h3"
  ]
}]]></Config>
</DataType>