<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2e80564-45f8-4fc5-b8b6-1d398f8bc327" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "92d720a9-f696-4439-96f0-ac596bcad5b3"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "2790034e-860b-405e-a29c-b5d90cfdc0dd",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "0f9151c7-871c-4481-a0f5-9dbecb0748e3"
    },
    {
      "contentElementTypeKey": "ee1adb21-bf1b-4b87-9b93-3757dcd927ef",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "61edfb74-709e-4401-aa96-9942e8f82847"
    },
    {
      "contentElementTypeKey": "48a58be0-e446-4a7b-96d4-33a9f7f02f6f",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "15b6b255-717d-4a40-a2d3-661ebc2c2308",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "92d720a9-f696-4439-96f0-ac596bcad5b3",
      "settingsElementTypeKey": "c570d6de-c221-48b0-a6ed-23dd47563270",
      "areas": [
        {
          "key": "11dd4f60-36d0-41dc-bebf-988106be2103",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "516fbb16-b195-4ee2-ac85-5f8060b50262",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "92d720a9-f696-4439-96f0-ac596bcad5b3",
      "settingsElementTypeKey": "c570d6de-c221-48b0-a6ed-23dd47563270",
      "areas": [
        {
          "key": "774b34ee-6a8e-45db-80fe-e8353916d184",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "ee1adb21-bf1b-4b87-9b93-3757dcd927ef"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "48a58be0-e446-4a7b-96d4-33a9f7f02f6f"
            }
          ]
        },
        {
          "key": "0aaf6e08-0d0e-4c0d-a369-3a34f18405de",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "ee1adb21-bf1b-4b87-9b93-3757dcd927ef"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "48a58be0-e446-4a7b-96d4-33a9f7f02f6f"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "1a6a8798-4a42-40af-90a2-914db78d9f7e",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "92d720a9-f696-4439-96f0-ac596bcad5b3",
      "settingsElementTypeKey": "c570d6de-c221-48b0-a6ed-23dd47563270",
      "areas": [
        {
          "key": "e9de6610-158b-4dbf-98be-6616365982ac",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "ee1adb21-bf1b-4b87-9b93-3757dcd927ef"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "48a58be0-e446-4a7b-96d4-33a9f7f02f6f"
            }
          ]
        },
        {
          "key": "ecbf2353-c5c4-48cf-9156-5c28d92c9109",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "ee1adb21-bf1b-4b87-9b93-3757dcd927ef"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "48a58be0-e446-4a7b-96d4-33a9f7f02f6f"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "08f68229-bce5-4f24-998d-df871911e892",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "92d720a9-f696-4439-96f0-ac596bcad5b3",
      "settingsElementTypeKey": "c570d6de-c221-48b0-a6ed-23dd47563270",
      "areas": [
        {
          "key": "2e2bf9b2-f58d-4a02-8d57-37917265cbf3",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "ee1adb21-bf1b-4b87-9b93-3757dcd927ef"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "48a58be0-e446-4a7b-96d4-33a9f7f02f6f"
            }
          ]
        },
        {
          "key": "f8750ea7-2a5b-46e3-90ff-c9201b0eff57",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "ee1adb21-bf1b-4b87-9b93-3757dcd927ef"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "48a58be0-e446-4a7b-96d4-33a9f7f02f6f"
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": {},
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>