<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fbb62fd1-8f57-4455-b982-cd1ce02121e8" Alias="simplePage" Level="1">
  <Info>
    <Name>Simple Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SimplePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="01a00531-07aa-7e01-a3f3-e71132d95eca">SimplePage</Template>
    </AllowedTemplates>
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="fbb62fd1-8f57-4455-b982-cd1ce02121e8" SortOrder="0">simplePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1daf3b69-b744-4eff-8b16-7b4883280fc4</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>c222697e-eaab-4c4b-9238-45558ae6fd90</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a933384e-7b3b-43d1-b91c-1e490531ba7b</Key>
      <Name>Page background color</Name>
      <Alias>pageBackgroundColor</Alias>
      <Definition>0225af17-b302-49cb-9176-b9f35cab9c17</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>