<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="68b03e66-79fa-443f-a51b-fe4517cd45ba" Alias="wysiwg65_paragraph" Level="3">
  <Info>
    <Name>Paragraph</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Wysiwg65_Content+Elements/Block+Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>194b9fd5-baa3-43c3-949b-1824febc9771</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>e4393f27-e5e7-4057-baca-3d67d3a538df</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d91da0f9-3ed8-4379-871b-b92a2060ee0e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>